[2018-06-29 10:11] shubham59 opened #2 "Frontend Task"
Need a great UX for the landing page after the user logs in

[2018-07-05 13:46] jlinktu opened #4 "XSS in publish.php"

[2018-07-05 13:48] #4 closed

[2018-07-05 13:51] fnuef55555 opened #5 "XSS in publish.php"
Hi Developers,

you do not sanitize the 5 $_POST variables username,contentname,tagline,content, and genre against XSS vectors in publish.php when inserting new articles in the database. This can lead to different harmfull actions performed against users by injected code. You should consider applying filter functions similar to the attached patch.
[patch.txt](https://github.com/codeuino/Social-Pla

[2018-07-05 14:19] fnuef55555 opened #6 "SQL Injections in like.php and dislikes.php"
Hi Developers,

you do not sanitize the two $_POST variables article and username when performing Like and Dislike actions in like.php and dislikes.php. This can be misused to modify your used SQL queries. You can prevent the risk by filtering the two variables before using them as in the following patch:
[patch.txt](https://github.com/codeuino/Social-Platform-Donut/files/2166834/patch.txt)

POC:

[2018-08-12 20:20] gabru-md opened #11 "modify readme"
modifying readme a bit.
There are a lot fo `npm install` commands. All this can be done by simplying typing `npm install` inside the directory of the project. So a simple change in readme can make it cleaner. :D

This issue can be taken up by anyone.
Cheers!

[2018-08-17 14:25] capedcrusader23 opened #13 "Need a new realtime notification system in navbar for user pannel. The notification must bundle all the notification send at time"

[2018-08-17 14:26] capedcrusader23 opened #14 "Need to implement bcrypt module to encrypt passwords"

[2018-08-17 14:27] capedcrusader23 opened #15 "A front end page where user can see current details and can change them.Front end required only"

[2018-08-17 14:28] capedcrusader23 opened #16 "Create schema for organization and routes for organization.Routes of organization consist of current projects,people working,progress on projects"

[2018-08-17 14:29] capedcrusader23 opened #17 "implement followers and following feature for user scchema"

[2018-08-24 16:47] capedcrusader23 opened #19 "Alter design of google oauth button"

[2018-08-29 14:11] shubham59 opened #20 "Add push notification on port 443 for chrome"

[2018-09-09 15:32] samridhijain27 commented on #19
I am doing this!

[2018-09-09 15:35] jaskirat2000 commented on #19
Samridhi, thats awsome. Go ahead.
Good Luck

On Sun, 9 Sep 2018, 9:02 pm Samridhi Jain, <notifications@github.com> wrote:

[2018-10-01 12:51] pm17 commented on #2
Are you expecting wireframes or a PSD ?

[2018-10-01 13:01] jaskirat2000 commented on #2
Wire frames

On Mon, 1 Oct 2018, 6:21 pm Parvesh Mourya, <notifications@github.com>
wrote:

[2018-10-01 13:51] ChameeraD commented on #11
Can I try

[2018-10-01 14:49] jaskirat2000 commented on #11
Sure go on

On Mon, 1 Oct 2018, 7:22 pm Chameera Dulanga, <notifications@github.com>
wrote:

[2018-10-02 04:28] jaskirat2000 commented on #11
@ChameeraD sure please go on and try to provide better readme with pro[er installation, running in the form of videos

[2018-10-02 04:57] sagarchoudhary96 commented on #15
will something like this works
<img width="1581" alt="screenshot 2018-10-02 at 10 24 55 am" src="https://user-images.githubusercontent.com/16102594/46329824-8448ed80-c62d-11e8-83fe-648a178c4b70.png">

[2018-10-02 05:07] capedcrusader23 opened #21 "Implement a system to calculate popular proposed projects"
Come up with a solution to show popular project
Must be the ratio of number of likes/number of dislikes:- max of this will most popular one

[2018-10-02 05:08] capedcrusader23 opened #22 "Make front end of landing page and other pages responsive"

[2018-10-02 05:08] #5 closed

[2018-10-02 05:09] #6 closed

[2018-10-02 05:33] justiceotuya commented on #22
dibs

[2018-10-02 05:55] aksharanigam1112 commented on #22
could you please explain in what way do you mean the responsive page ???

[2018-10-02 06:14] capedcrusader23 commented on #22
yep,if you can see landing page when user log in the page have upvote downvote button the count should have fade in effect and should move upwards for upvote and move downwards in downvote with the count of respective button.The proposed project on right side should be highlighted in some way depends on your creativity.

[2018-10-02 08:08] capedcrusader23 commented on #15
yep its is fine

[2018-10-02 16:53] jaskirat2000 commented on #15
this is perfect go ahead and good luck with it @sagarchoudhary96

[2018-10-03 19:11] jaskirat2000 commented on #21
sure @rishabhp99 please go ahead and make your PR. Good luck

[2018-10-03 20:13] rishabhp99 opened #26 "Error when running npm install --save"
I am getting the follwoing error when I run npm install --save:

npm ERR!     /home/username/Social-Platform-Donut/npm-debug.log

[2018-10-04 04:47] AraanBranco commented on #14
is okay?

[2018-10-04 17:01] jaskiratsingh2000 opened #27 "Make a frontend Community ( Organisation ) dashboard for this Platform"
Make a fronted Community ( Organisation ) dashboard for this Platform.

Just like we have dashboard in LinkedIn, Twitter, Facebook etc for the organisation to make an do changes.

So this has to be made in this way:
Reference to these examples:
https://goo.gl/images/6i4dC6
https://goo.gl/images/kLk3rM
https://goo.gl/images/qrtmm1

It should include what all things are required in the dashboard for

[2018-10-05 08:01] sdsahib commented on #26
hey, can you post down the full error log, u r getting

[2018-10-05 10:54] SriAish commented on #27
I am doing this!

[2018-10-05 11:11] jaskirat2000 commented on #27
Sure @aishwarya please go ahead and send you PR

On Fri, 5 Oct 2018, 4:24 pm SriAish, <notifications@github.com> wrote:

[2018-10-05 11:11] vaibhavdaren commented on #27
@SriAish  Oki cool

[2018-10-05 16:10] rishabhp99 commented on #26
This is the whole thing:

[2018-10-07 07:30] SiddhantD commented on #16
Hi, can i get some more details into this issue @capedcrusader23 @devshiva619 . According to my understanding you want to create a schema for organization and routes. RoutesOfOrganization (currentprojects,peopleworking,progressonprojects)

[2018-10-08 03:32] sdsahib commented on #26
Will get in touch with u by today.

[2018-10-09 03:37] SriAish commented on #27
I have made a pull request with a dashboard for community/organization

[2018-10-09 11:50] #14 closed

[2018-11-26 09:07] sdsahib opened #32 "Authentication:- Add a Logout button"

[2018-11-26 11:30] sdsahib opened #33 "Authentication:- Login with Facebook"
create an authentication for login with Facebook. It's already done with google and GitHub(refer that). Follow the folder structure and pull code from **development** branch and send the PR to same branch.

[2018-12-01 20:54] AviBomb commented on #15
![screenshot from 2018-12-02 02-02-06](https://user-images.githubusercontent.com/38415320/49332725-59045f80-f5d8-11e8-9616-0c333fcb871a.png)
![screenshot from 2018-12-02 02-16-27](https://user-images.githubusercontent.com/38415320/49332726-599cf600-f5d8-11e8-9c96-dd575d40977e.png)
Hey this is a very simple version without any bootstrap that i had worked on a while ago, so there shouldn't be any is

[2018-12-01 21:10] AviBomb commented on #22
![screenshot from 2018-12-02 02-27-17](https://user-images.githubusercontent.com/38415320/49332816-20fe1c00-f5da-11e8-8ccf-77197b94ac6f.png)
![screenshot from 2018-12-02 02-02-06](https://user-images.githubusercontent.com/38415320/49332818-25c2d000-f5da-11e8-93b6-14b311a34f30.png)
Hey this is a very simple version without any bootstrap that i had worked on a while ago, so there shouldn't be any is

[2018-12-02 02:46] jaskirat2000 commented on #15
@AviBomb thanks for reaching out. I would suggest that go with a design that has been made by @sagarchoudhary96. You can go with similar approach and make aure you add everything like what we see on other social sites like facebook and twitter

[2018-12-02 02:48] jaskirat2000 commented on #22
Hey this page is the feed page i would suggest you to move to this issues for this

[2018-12-02 02:51] jaskirat2000 commented on #22
https://github.com/codeuino/frontened/issues/14

[2018-12-05 15:21] shivam183 commented on #26
Hey @rishabhp99 try updating ur npm package to the latest and if the error is still there try `npm audit fix` or `npm audit fix --force`. use `sudo` while updating ur npm. Try this and let me know if it works

[2018-12-05 17:44] Sweta271097 commented on #2
Hello,

I would really like to take up this issue.
I'm new to open source and would like contributing!

[2018-12-05 18:22] jaskirat2000 commented on #2
Sure gk ahead but make sure you should explore the frontend repo also which
is written in the Readme

On Wed, 5 Dec 2018, 11:14 pm Sweta271097, <notifications@github.com> wrote:

[2018-12-06 14:30] jaskirat2000 commented on #32
Sure go ahead

On Thu, 6 Dec 2018, 7:58 pm likemike3372, <notifications@github.com> wrote:

[2018-12-11 13:55] imskr commented on #33
i want to work on it!

[2018-12-11 14:22] jaskirat2000 commented on #33
Sure go ahead

On Tue, 11 Dec 2018, 7:25 pm Shubham Kumar, <notifications@github.com>
wrote:

[2018-12-13 10:44] moulikcipherX commented on #13
Hy I would love to work on this.

[2018-12-13 10:48] jaskirat2000 commented on #13
Sure please go ahead

On Thu, 13 Dec 2018, 4:14 pm Moulik Aggarwal, <notifications@github.com>
wrote:

[2018-12-13 11:05] sdsahib opened #38 "Fix UI for Social Logins, Add buttons should work.."
Fix the Social login button present on the dashboard, backend api is already linked. You have to fix the styles and make sure user is able to click them.

[2018-12-14 05:35] jaskirat2000 commented on #38
Okk

On Fri, 14 Dec 2018, 8:51 am Shubham Kumar, <notifications@github.com>
wrote:

[2018-12-14 08:48] moulikcipherX commented on #13
Hy, can you tell me which user panel are we suggesting here?

[2018-12-14 09:36] moulikcipherX commented on #13
what type of notification we have to send.

[2018-12-15 16:04] Sweta271097 commented on #15
@jaskirat2000 Is someone assigned to this issue or can I work on it?

[2018-12-19 15:13] Sweta271097 commented on #2
Hello,

I made new wireframes for the landing page keeping in mind the frontend contents of the previous landing page. Give it a look. I'll make a PR.
![screenshot 49](https://user-images.githubusercontent.com/32592225/50228684-8faaea00-03ce-11e9-95a6-10f664eba656.png)
![screenshot 50](https://user-images.githubusercontent.com/32592225/50228697-93d70780-03ce-11e9-8557-3e88e6198678.png)
![screensho

[2018-12-19 15:21] jaskirat2000 commented on #2
Hey this is so amazing, i like it. And which software you used ?
Also after thiis can you also make up the homepage that is feed page ?
Just ping me once on slack channel.
Looking forward to it.

Thanks

On Wed, 19 Dec 2018, 8:43 pm Sweta271097, <notifications@github.com> wrote:

[2018-12-23 17:52] rb007123 commented on #32
What exactly @sdsahib we have to add? just a button? nothing else?

[2018-12-23 18:00] jaskirat2000 commented on #32
Also the backend schema required

On Sun, 23 Dec 2018, 11:22 pm Rishabh Bansal, <notifications@github.com>
wrote:

[2018-12-24 07:50] sdsahib commented on #32
@rb007123 logout routes for github, facebook is already there, we need the logout button to close the session of the user. yes currently we need UI and link that with proper route.

[2018-12-26 18:00] jaskiratsingh2000 opened #41 "New UI pf landing page ( frontend only )"
New UI of landing page

[2018-12-27 16:49] Sweta271097 opened #43 "Update Readme"
To update the README with the new UI.

[2018-12-29 18:41] kartikpandey2 commented on #38
@sdsahib  I am willing to work on this issue but I am not able to find the social login button.

[2019-01-01 06:42] Sweta271097 opened #45 "Wireframes of Feedback page"
Making new wireframes for the feedback page

[2019-01-01 06:43] jaskirat2000 commented on #45
Where are you placing it or plqns to ?

[2019-01-01 06:53] Sweta271097 commented on #45
@jaskirat2000 As of now, I'm just making a PR for the wireframes of the feedback page which I have placed in the folder "views". It's an simple idea about how it will look like. But there will be better variations when I actually implement it in html, css and JS.

[2019-01-01 06:56] jaskirat2000 commented on #45
Sounds good

On Tue, 1 Jan 2019, 12:23 pm Sweta271097, <notifications@github.com> wrote:

[2019-01-02 05:56] nityanandagohain commented on #32
I would like to work on this,

[2019-01-02 06:04] jaskirat2000 commented on #32
Sure go ahead

On Wed, 2 Jan 2019, 11:26 am Nityananda Gohain, <notifications@github.com>
wrote:

[2019-01-02 12:00] nityanandagohain opened #48 "Fix indentation,formatting and add comments for all the routes."
A lot of the code in the repository is not formatted and the routes are not properly commented which becomes difficult for a new user to navigate.

I would like to a format and comment the code part by part.

[2019-01-02 12:08] jaskirat2000 commented on #48
This is really appreciable...I would be happy to get involve with you on
this .
So go ahead and yes be active for problems you face in the slack channel

On Wed, 2 Jan 2019, 5:30 pm Nityananda Gohain, <notifications@github.com>
wrote:

[2019-01-02 13:01] sdsahib opened #49 "Connect the main page with the Rest Point(Already there)."
After the updation of the front-end landing page, We need to connect the front-end buttons and all the links with the respective back-end rest point present.

[2019-01-02 13:12] jaskirat2000 commented on #49
Is this relate anything to the frontend repo.

On Wed, 2 Jan 2019, 6:31 pm Sahib Singh, <notifications@github.com> wrote:

[2019-01-07 13:30] Sweta271097 opened #50 "Front-end of feed page"
To make the front-end of a feed-page to show articles, projects, events, blog, communities etc.

[2019-01-07 13:53] Sweta271097 opened #52 "Front-end of Forum/ Discussion portal to be integrated with the feed-page."
A front-end of discussion portal for the members to discuss on various topics to be integrated with the front-end of the feed-page.

[2019-01-22 07:24] imdhruvgupta opened #59 "Remove Typos from the Readme"
There are few typos in Readme which need to be removed, especially in the "What is Donut?" part.

[2019-02-08 07:06] capedcrusader23 opened #61 "Integration of front end and backend."
The front end and backend of platform is not integrated.
It is important to integrate for version 1.

[2019-02-08 14:22] capedcrusader23 opened #62 "Add a signup with github and signup with gmail button"
![screenshot from 2019-02-08 19-52-03](https://user-images.githubusercontent.com/37747717/52483921-07c9ab00-2bdb-11e9-82e7-0e36745bb74b.png)
Add a signup button for gmail and github

[2019-02-09 16:34] lakshyabatman commented on #62
I can work on it !

[2019-02-09 16:41] jaskirat2000 commented on #62
Sure go ahead

On Sat, 9 Feb 2019, 10:04 pm Lakshya Khera, <notifications@github.com>
wrote:

[2019-02-09 19:19] lakshyabatman commented on #62
#64 , buttons are added! Only integration with their API are left.

[2019-02-09 19:23] lakshyabatman opened #65 "Readme not updated"
![screenshot from 2019-02-10 00-05-27](https://user-images.githubusercontent.com/29687362/52525347-50ae5c00-2cce-11e9-9bfb-c315fc59fca6.png)

Screenshots are not updated.

[2019-02-09 19:34] jaskirat2000 commented on #65
Just improve it. Thanks

[2019-02-10 12:39] #62 closed

[2019-02-10 12:39] jaskirat2000 commented on #62
Thanks

On Sun, 10 Feb 2019, 6:09 pm capedcrusader23, <notifications@github.com>
wrote:

[2019-02-10 19:45] lakshyabatman opened #66 "Adding Dependabot"
**Feature Suggestion**

Dependabot is a special bot on github which can update dependencies by adding pr in the project and configuring it can create a better experience for other developers to add pr and issues in the organization.

Though implement this bot on Donut project, though I really like idea behind it @jaskirat2000 :) .

https://dependabot.com/ for more information.

[2019-02-11 03:47] jaskirat2000 commented on #66
This is cool. Can you work on this ?

On Mon, 11 Feb 2019, 1:15 am Lakshya Khera, <notifications@github.com>
wrote:

[2019-02-11 03:56] lakshyabatman commented on #66
I can do after exams 😅

[2019-02-11 04:18] jaskirat2000 commented on #66
Sure no worries.

On Mon, 11 Feb 2019, 9:26 am Lakshya Khera, <notifications@github.com>
wrote:

[2019-02-11 14:07] lakshyabatman commented on #65
#67  @jaskirat2000

[2019-02-11 14:10] lakshyabatman commented on #66
@jaskirat2000 to add it in the organization one should be member of it. :)

[2019-02-12 11:49] #65 closed

[2019-02-12 11:50] lakshyabatman commented on #59
@imdhruvgupta if this issue is resolved then you can close it :)

[2019-02-13 05:29] jaskirat2000 commented on #66
Okay no worries. Once you begin let me know

On Mon, 11 Feb 2019, 7:40 pm Lakshya Khera, <notifications@github.com>
wrote:

[2019-02-13 17:20] lakshyabatman opened #68 "Frontend isn't responsive"
![screenshot from 2019-02-13 22-47-13](https://user-images.githubusercontent.com/29687362/52730516-95ddd100-2fe1-11e9-917d-f374ae2052a4.png)
![screenshot from 2019-02-13 22-47-21](https://user-images.githubusercontent.com/29687362/52730517-95ddd100-2fe1-11e9-8b4b-1534eb881ab6.png)

The codeuino title overflows from the side.

[2019-02-13 17:21] lakshyabatman commented on #19
@capedcrusader23 Are you talking about the gmail login button , here?

[2019-02-13 17:24] jaskirat2000 commented on #68
I think these pages are not yet designed for mobile yet. Since it is in the form of software.

[2019-02-13 17:24] jaskirat2000 commented on #68
@Sweta

[2019-02-13 17:28] lakshyabatman commented on #68
@jaskirat2000 software as in? Although, I think making this project mobile friendly would be really good, apart from this the frontend looks perfect . :)

[2019-02-13 20:15] NirmalKumarJoshi commented on #68
@lakshyabatman Can I work on this under GSSOC'19. I will integrate bootstrap classes to it.

[2019-02-13 23:23] lakshyabatman commented on #68
@NirmalKumarJoshi sure :+1:

[2019-02-19 16:01] capedcrusader23 opened #70 "Need a page to submit project"
The route to publish a project is made but no html page is made.
Suggestions for design are appreciated.

[2019-02-19 16:55] lakshyabatman commented on #70
@capedcrusader23 you want ejs?

[2019-02-19 19:36] capedcrusader23 commented on #70
yes

[2019-02-20 16:18] lakshyabatman commented on #70
Ok, so can you describe your requirements. @capedcrusader23

[2019-02-20 17:00] lakshyabatman commented on #70
@capedcrusader23  I'm taking up this issue!

[2019-02-20 17:39] tharun143 commented on #59
I want to take this issue. If it is not closed please reply here ASAP. I will continue the work from March 1st

[2019-02-20 17:40] jaskirat2000 commented on #59
Sure please go ahead. Looking forward to it.

On Wed, 20 Feb 2019, 11:09 pm Tharun Ravuri, <notifications@github.com>
wrote:

[2019-02-20 17:45] tharun143 commented on #59
I will work on this issue from March 1st. Is it okay?

[2019-02-20 17:47] jaskirat2000 commented on #59
Sure

On Wed, 20 Feb 2019, 11:15 pm Tharun Ravuri, <notifications@github.com>
wrote:

[2019-02-20 18:25] tharun143 commented on #66
I want to claim this task. I don't know much about the bot. I came to know about this recently. I will search and I will start connecting the bot on March 1st. If it is not closed please reply to this ASAP

[2019-02-20 18:27] lakshyabatman commented on #66
The bot can be added easily but for that one should be member of the organisation.

[2019-02-20 18:27] lakshyabatman commented on #66
The bot can be added easily but for that one should be member of the organisation.

[2019-02-20 18:29] tharun143 commented on #66
Yeah Just now I added the bot to my profile. So this is closed r8?

[2019-02-20 18:29] lakshyabatman commented on #59
Also, update the images as well.

[2019-02-20 18:30] lakshyabatman commented on #66
Try to add the bot in the organisation. :)

[2019-02-20 18:31] tharun143 commented on #66
But I am not the member in the org.

[2019-02-20 18:31] tharun143 commented on #59
Okay

[2019-02-20 18:32] lakshyabatman commented on #66
Yes, that is the actual issue for me as well. :) still if you're new here, update the readme and then go to technical issues.

[2019-02-20 18:33] tharun143 commented on #66
Ok :+1:

[2019-02-20 20:54] capedcrusader23 commented on #70
yes @lakshyabatman,you can work on it

[2019-02-20 21:01] capedcrusader23 opened #72 "Needed front end layout for a comments"
![ch](https://user-images.githubusercontent.com/37747717/53124010-5df60100-3580-11e9-9051-d332ed719a58.jpg)
The box below (1,1,comment,share)is simple textarea. Try to improve it and after submitting a comment it should be displayed in a card format.Only focus on design of comment box rather than submit logic.

[2019-02-21 04:20] lakshyabatman commented on #72
Yes, I can do it!

[2019-02-21 04:21] lakshyabatman commented on #70
#73 , @capedcrusader23 you can close this issue now! :)

[2019-02-21 06:30] capedcrusader23 commented on #70
@lakshyabatman  let me test it,if i found it right i will close this issue else we will work on it.

[2019-02-22 16:08] lakshyabatman commented on #66
@jaskirat2000 I've requested codeuino to add Dependabot

[2019-02-22 17:58] lakshyabatman commented on #66
@jaskirat2000  I'm closing this issue :)

[2019-02-22 17:58] #66 closed

[2019-02-24 07:47] Yashwanth711 opened #74 "Want to Contribute to Codeuino"
Hello Everyone, My name is Yashwanth, from IIT Bhubaneswar,India. I have good knowledge in HTML,CSS, Java Script,Python,Java. I am specialized in Machine Learning,Deep Learning and Data Analytics. I am planning to apply GSOC 2019 with Codeuino.  I need help to get started with. Assign me some task/sub goal to get started to work and contribute codeuino. Thankyou!

[2019-02-24 07:49] lakshyabatman commented on #74
Hey @Yashwanth711 , welcome to Codeuino! Please join our slack group to start working with as, and to get started search for begineer's issues in the community and start contributing. :)

[2019-02-24 07:49] lakshyabatman commented on #74
Please close this issue asap :)

[2019-02-24 07:50] lakshyabatman commented on #70
@capedcrusader23 you tested it?

[2019-02-24 07:58] #74 closed

[2019-02-26 08:42] khyati18 commented on #50
Is this issue still open ?

[2019-02-26 08:43] jaskirat2000 commented on #50
Yes

On Tue, 26 Feb 2019, 2:12 pm Khyati Agarwal, <notifications@github.com>
wrote:

[2019-02-26 08:51] capedcrusader23 opened #75 "Improve testability of code"
Code base is not tested.
use mocha to test codebase

[2019-02-26 08:52] jaskirat2000 commented on #75
Can you ellaborate this more on how to get on things with proper links etc

On Tue, 26 Feb 2019, 2:21 pm capedcrusader23, <notifications@github.com>
wrote:

[2019-02-26 08:54] TG1999 commented on #75
Assign this issue to me

[2019-02-26 08:55] jaskirat2000 commented on #75
Sure go ahead

On Tue, 26 Feb 2019, 2:24 pm Tushar Goel, <notifications@github.com> wrote:

[2019-02-26 09:08] khyati18 commented on #50
Can I work on it under gssoc ?

[2019-02-26 14:47] jaskirat2000 commented on #50
Yes sure

On Tue, 26 Feb 2019, 2:38 pm Khyati Agarwal, <notifications@github.com>
wrote:

[2019-02-26 19:56] lakshyabatman commented on #72
#76 , I made some small changes on it!

[2019-02-26 19:57] lakshyabatman commented on #72
@capedcrusader23 @jaskirat2000

[2019-02-27 05:30] lakshyabatman commented on #72
Please, close this issue as it is done! @jaskirat2000 @capedcrusader23

[2019-02-27 05:50] lakshyabatman opened #77 "Not able to scroll in mobile view"
![screenshot from 2019-02-27 11-16-45](https://user-images.githubusercontent.com/29687362/53468699-425b9080-3a81-11e9-83b8-c9191878a63d.png)

<b>BUG</b>
I cannot scroll over in tablet or mobile view.
Is this some issue or done intentionally for some reason.

<b>I will be taking up this issue</b>

[2019-02-27 05:52] #72 closed

[2019-02-27 05:53] jaskirat2000 commented on #77
Lakshay we don't need for mobile version now since it is a software that is
on user end to give them and use in their own way

On Wed, 27 Feb 2019, 11:20 am Lakshya Khera, <notifications@github.com>
wrote:

[2019-02-27 05:59] lakshyabatman commented on #77
Ok, then this issue is useless, Should I close it? @jaskirat2000

[2019-02-27 05:59] jaskirat2000 commented on #77
Sure

On Wed, 27 Feb 2019, 11:29 am Lakshya Khera, <notifications@github.com>
wrote:

[2019-02-27 09:14] lakshyabatman commented on #77
I am reopening this issue, as I tested and found out that the scroll bar doesn't come for smaller browser size.
I think, even it just made for laptop and other large screen devices, there should be responsiveness in it which is also our first priority of this project.

[2019-02-27 09:15] lakshyabatman commented on #70
@jaskirat2000 @capedcrusader23 please close this issue, cause I added the submit form page.

[2019-02-27 09:35] capedcrusader23 commented on #19
yes but it is resolved

[2019-02-27 09:35] #19 closed

[2019-02-27 09:39] capedcrusader23 commented on #70
yes @lakshyabatman

[2019-02-27 09:39] #70 closed

[2019-02-27 10:27] capedcrusader23 opened #78 "Provide 2 color Scheme for donut platform"
![ss](https://user-images.githubusercontent.com/37747717/53483040-988efa80-3aa6-11e9-882f-208592c141cb.jpg)

The current color theme of Donut is black and white.
We want to design a night theme for platform.
Provide good suggestions and work on it to improve UI.

[2019-02-27 10:28] lakshyabatman commented on #78
Yes, sure we can discuss about it and let me work on it! 😊

[2019-02-27 10:53] capedcrusader23 opened #79 "Make the feeds portion scrollable"
![ss](https://user-images.githubusercontent.com/37747717/53484927-fc1b2700-3aaa-11e9-9cde-ab87406039af.jpg)

If you start server and try to scroll page,whole section of proposed project and and open source events also get scrolled.
Make those 2 fixed and move open source event to left of feeds.

[2019-02-27 11:00] capedcrusader23 opened #80 "Remove Search button and add font-awesome magnifying glass icon in search bar"
![ss2](https://user-images.githubusercontent.com/37747717/53485578-929c1800-3aac-11e9-9fad-ad0bc462e8e7.jpg)

![ss3](https://user-images.githubusercontent.com/37747717/53485672-dabb3a80-3aac-11e9-9e95-6c63b2df47e2.jpg)

Try to change the navbar of donut from former to latter

[2019-02-27 11:13] capedcrusader23 opened #81 "Implement an edit button, which when clicked enables user to edit all the fields. And the edit button changes too Save button."
![image](https://user-images.githubusercontent.com/37747717/53486368-8618bf00-3aae-11e9-9036-7600cec07b4b.png)
Remove the change button and add a single button to change all the fields once clicked on button all fields should be editable and button should change to 'save'.

[2019-02-27 11:14] capedcrusader23 opened #82 "Implement heatmap similar to what other platforms such as github, bitbucket has done"
For example: https://frappe.io/charts

[2019-02-27 11:14] devesh-verma opened #83 "Change the look and feel of the like, dislike, comment and share buttons"
For inspiration have a look at twitter posts, where the number of likes and shares and comments are written beside the button. We need to have similar buttons.
![twitter_screenshot](https://user-images.githubusercontent.com/20336672/53486493-e27bde80-3aae-11e9-8e83-7e1b7dd5b861.png)

As of now, it looks like this:
![like_share_comment](https://user-images.githubusercontent.com/20336672/53488244-bd

[2019-02-27 11:16] capedcrusader23 opened #84 "Improve the logic of upvote in donut"
Current logic in O(n)^2 make it O(1) by using maps instead of arrays

[2019-02-27 11:17] lakshyabatman commented on #84
On it!😊

[2019-02-27 11:30] devesh-verma opened #85 "Change the way user interacts with comment functionality, and the way comments are shown"
To understand this - have a look at facebook comment button.

Also, make it look like facebook comment button.
![screenshot 2019-02-27 at 4 32 08 pm](https://user-images.githubusercontent.com/20336672/53487261-17893080-3ab1-11e9-9a47-6fa3f7af0e30.png)

When you press the button then the comments are loaded.
![screenshot 2019-02-27 at 4 32 23 pm](https://user-images.githubusercontent.com/20336672/5

[2019-02-27 11:34] devesh-verma opened #86 "Improve the way tags look"
For this, you can take inspiration from Github tags, also you free to show your creativity in this.
You can also produce 2-3 variations if you want.

[2019-02-27 11:37] TG1999 commented on #75
I have written first test for checking if user is added successfully or not #87 please merge it

[2019-02-27 11:53] devesh-verma opened #88 "Improve look of name,image and designation"
As of now the alignment of image(user profile pic) and the name of the user and the designation is not proper.
Also, the profile pic is in square shape as now, change to circular one.
![name_designation](https://user-images.githubusercontent.com/20336672/53488375-14dc0a80-3ab4-11e9-882d-87a403fb40f8.png)

[2019-02-27 12:01] devesh-verma opened #89 "Improve the way content is shown in cards"
As of now the content is not the main highlighted part of the feed, take make it look better you can have a look at other social media platforms.
![screenshot 2019-02-27 at 5 15 52 pm](https://user-images.githubusercontent.com/20336672/53488760-44d7dd80-3ab5-11e9-80e9-2535813a61dd.png)

[2019-02-27 12:04] devesh-verma opened #90 "Show timestamp"
Display the timestamp.
![time_stamp](https://user-images.githubusercontent.com/20336672/53488978-d5162280-3ab5-11e9-8fee-bb4fa74dcc59.png)

[2019-02-27 12:10] devesh-verma opened #91 "Add image to popular projects"
As of now we are not showing image of the popular project.
You need to add the project image before project name which is in blue.
![popular_projects](https://user-images.githubusercontent.com/20336672/53489107-46ee6c00-3ab6-11e9-9a37-d6406b348ca8.png)

[2019-02-27 14:11] lakshyabatman commented on #84
@capedcrusader23 @devshiva619 is this part of gssoc?

[2019-02-27 15:51] #11 closed

[2019-02-27 15:54] TG1999 commented on #75
I have installed dev dependencies in package.json and made a PR for same #92

[2019-02-27 16:49] imskr commented on #91
I would like to work on this.

[2019-02-27 16:54] jaskirat2000 commented on #91
sure

On Wed, Feb 27, 2019 at 10:19 PM Shubham Kumar <notifications@github.com>
wrote:

--
*Jaskirat Singh*

*Designer, Developer and community member at Sugar Labs*
*Open Source Initiative Member*
*Google Code-In Mentor (2017) for Sugar Labs at Google*
*Google Summer of Code mentor (2018) for Sugar Labs at Google.*

[2019-02-27 18:54] thisisabdus commented on #89
May I work on this issue, please?

[2019-02-27 19:05] jaskirat2000 commented on #89
Sure

On Thu, 28 Feb 2019, 12:24 am Abdus Samad Azad, <notifications@github.com>
wrote:

[2019-02-28 07:08] atharva3010 commented on #88
Can I work on this issue ?

[2019-02-28 07:17] sdsahib commented on #82
Heatmap for which data source??

[2019-02-28 07:21] sdsahib commented on #75
Hey, you are printing the output to the console, instead assert the response from the REST APIs.

[2019-02-28 07:24] jaskirat2000 commented on #88
Sure

On Thu, 28 Feb 2019, 12:38 pm Atharva Sharma, <notifications@github.com>
wrote:

[2019-02-28 07:26] TG1999 commented on #75
Hey, Since in response you are rendering a view so how can I assert a view.

[2019-02-28 07:26] sdsahib commented on #61
Is it done? If not, is both frontend and backend ready.

[2019-02-28 07:27] TG1999 commented on #75
And please merge #92 it has packages installed as dev dependencies

[2019-02-28 07:28] sdsahib commented on #49
Issue same as #61 so closing this one..

[2019-02-28 07:28] #49 closed

[2019-02-28 07:33] jaskirat2000 commented on #61
It is yet to be done

On Thu, 28 Feb 2019, 12:56 pm Sahib Singh, <notifications@github.com> wrote:

[2019-02-28 07:37] sdsahib commented on #75
You should check the status of the page in the then block like :-  **res.status.should.equal(200);**
you should check the data you send in the test case, is received at the front-end view, like **res.body.data[0].should.include.keys(
        'id', 'username',
 );**

[2019-02-28 07:42] TG1999 commented on #75
#92 made the changes for response status and checking heading CODEUINO successfully please check

[2019-02-28 07:42] sdsahib commented on #75
Main reason of writing the test cases is to check the behavior of code for both success conditions and for failing (boundary conditions).
You have already written the test cases for success conditions(👍) and you should also write the fail test test for the routes,(when are they going to fail-> boundary cases).

[2019-02-28 07:47] sdsahib commented on #75
Tip:- Test cases will be read mostly by the business not the technical guys.
So you test cases should be easily readable, always try to create and variable and then send use, try using proper messages for it blocks.

[2019-02-28 07:48] sdsahib commented on #61
Okay, do we have both front-end part and back-end part ready?

[2019-02-28 08:10] lakshyabatman commented on #84
#93 , Schema is updated and will start working on AJAX calls for the same, :)

[2019-02-28 08:14] atharva3010 commented on #85
Can I work on this issue ?

[2019-02-28 08:59] capedcrusader23 commented on #61
we are working on it,as we progress we will be integrating both.

[2019-02-28 09:28] jaskirat2000 commented on #85
Sure go ahead

On Thu, 28 Feb 2019, 1:44 pm Atharva Sharma, <notifications@github.com>
wrote:

[2019-02-28 13:59] Rupeshiya commented on #84
@capedcrusader23 , I think on every upvote or downvote updating the schema of  for upvote and downvote will take O(1) . we can do this if we take upvote and downvote as type number instead array of strings . Correct me if I am wrong .

[2019-02-28 15:00] SarthakSri98 opened #94 "The landing page on my local codebase is different from the one given on the readme"
This is the one on my local machine
![screenshot from 2019-02-28 05-43-35](https://user-images.githubusercontent.com/28146914/53567809-576e1780-3b86-11e9-989d-4610cad997f9.png)

and this is on the readme page of Social-platform-donut i.e. there is no auth login option for GitHub etc.
![screenshot from 2019-02-28 05-43-55](https://user-images.githubusercontent.com/28146914/53567709-12e27c00-3b86-11

[2019-02-28 15:07] lakshyabatman commented on #94
I have made more changes on the landing page and readme wasn't updated, please update it. :)

[2019-02-28 15:08] lakshyabatman commented on #94
And there is button for login , click the get started button

[2019-02-28 15:09] lakshyabatman commented on #94
The readme typos and old image issue was assigned to someone, though he haven't updated it yet.

[2019-02-28 15:11] lakshyabatman commented on #94
#59

[2019-02-28 15:11] jaskirat2000 commented on #94
Please remove images that dirupts the whole prototype

On Thu, 28 Feb 2019, 8:39 pm Lakshya Khera, <notifications@github.com>
wrote:

[2019-02-28 18:41] sweezy793 commented on #90
I would like to work on this

[2019-02-28 19:40] tharun143 commented on #59
I've done the work. I guess you can close the issue now.

[2019-02-28 19:42] tharun143 commented on #43
Is this issue still open?... If yes please reply to my msg ASAP. :)
I want to know how to update the README.md file with what contents?

[2019-02-28 20:02] tharun143 commented on #59
Can I close this issue now?

[2019-02-28 20:04] #59 closed

[2019-03-01 08:16] shakti97 commented on #91
hey @jaskirat2000 , i didn't find anything like this on running the server, it just served me the static page. Will you help me out to tell whats going wrong here

[2019-03-01 08:50] capedcrusader23 commented on #84
@Rupeshiya, if you see maps as data type there we can develop a good logic,for eg
map<key,value>
key:-Eid of user
value:(+1,-1)
+1 if user not present then make it as key and value as +1 else make it -1

[2019-03-01 09:04] devshiva619 opened #96 "test issue"

[2019-03-01 09:13] devshiva619 commented on #96
comment

[2019-03-01 09:13] devshiva619 commented on #96
test comment

[2019-03-01 12:07] debck commented on #91
@devshiva619  ☝️

[2019-03-01 12:30] iamgrawal commented on #86
Hey @devshiva619, can you elaborate more?

[2019-03-01 12:31] iamgrawal commented on #86
I would like to work on this issue

[2019-03-01 12:34] invincibleJai commented on #86
@iamgrawal sure you can and were you able to bring the project? if yes you can add project/see existing tags associated with projects. Task is to beautify those.

[2019-03-01 12:35] iamgrawal commented on #77
then I think @lakshyabatman, you should work on #68, since that issue specifies the same motive as to what you are saying for making it responsive.

[2019-03-01 12:37] lakshyabatman commented on #77
ok, I will see to it or if someone else is willing to work on it, they can

[2019-03-01 12:37] #77 closed

[2019-03-01 12:47] iamgrawal commented on #83
Hey @devshiva619, I would like to work on this issue.

[2019-03-01 12:47] iamgrawal commented on #83
Sorry, by mistake I closed this issue.

[2019-03-01 14:15] khusi-anu commented on #78
Can I work on this?

[2019-03-01 14:15] tharun143 commented on #91
Hey, I want to work on this project. Is this still open?

[2019-03-01 14:18] khusi-anu commented on #81
I would like to work on this. May I?

[2019-03-01 14:34] jaskirat2000 commented on #91
Its code has to be weitten it does not exist

On Fri, 1 Mar 2019, 7:45 pm Tharun Ravuri, <notifications@github.com> wrote:

[2019-03-01 14:34] jaskirat2000 commented on #78
Sure if lakshay is not on it

On Fri, 1 Mar 2019, 7:45 pm Anu Kumari Gupta, <notifications@github.com>
wrote:

[2019-03-01 14:49] tharun143 commented on #91
What code you have to write?

[2019-03-01 14:53] jaskirat2000 commented on #91
The code should be in a form that in front of their name icons should also
appear. Try doing simple hoax icons

On Fri, 1 Mar 2019, 8:19 pm Tharun Ravuri, <notifications@github.com> wrote:

[2019-03-01 14:54] tharun143 commented on #43
Is this issue still open?
please reply?

[2019-03-01 14:58] tharun143 commented on #91
Okay, will work on it..

[2019-03-01 17:03] lakshyabatman opened #98 "Login Page For Organisation"
While integrating the backend with frontend with the help of @capedcrusader23 , I found out there is no login page for Organisations although there exist one page for Signup named,
<code>signup_community.html</code>
But not for login.

[2019-03-01 17:14] thobhanifreddy commented on #80
can I work on this issue?

[2019-03-01 17:16] lakshyabatman commented on #94
@jaskirat2000 , I guess there are people who were assigned for the same , so we can close the issue :)

[2019-03-01 17:26] jaskirat2000 commented on #94
Ok

On Fri, 1 Mar 2019, 10:46 pm Lakshya Khera, <notifications@github.com>
wrote:

[2019-03-01 17:29] jaskirat2000 commented on #43
Yes please go ahead

On Fri, 1 Mar 2019, 8:24 pm Tharun Ravuri, <notifications@github.com> wrote:

[2019-03-01 17:30] jaskirat2000 commented on #80
Make sure we ask for the backend also for this

On Fri, 1 Mar 2019, 10:44 pm Freddy Thobhani, <notifications@github.com>
wrote:

[2019-03-01 17:30] jaskirat2000 commented on #98
Thanks

On Fri, 1 Mar 2019, 10:33 pm Lakshya Khera, <notifications@github.com>
wrote:

[2019-03-01 17:39] thobhanifreddy commented on #80
@jaskirat2000 should I ask for it in slack?

[2019-03-01 19:55] shakti97 commented on #98
can i proceed and build it?
 @jaskirat2000

[2019-03-01 20:28] shakti97 commented on #90
@devshiva619 where should i get this ,

[2019-03-02 05:41] shreyanshjn commented on #85
hey @atharva3010 are you working on this issue?

[2019-03-02 05:43] atharva3010 commented on #85
Yes

[2019-03-02 06:28] Rupeshiya opened #100 "Improve the quality of the code"
Quality of the code can be improved by -
1. linting the code
2. Optimise the mongoose query
3. use of es6
4. Added prettier to pretify the code .

[2019-03-02 06:29] Rupeshiya commented on #100
@jaskirat2000 ,Should I work on this ??

[2019-03-02 08:48] shivamluthra commented on #83
@iamgrawal Are you working on this issue?

[2019-03-02 09:35] ani-sha commented on #79
I would like to work on this issue

[2019-03-02 11:49] tharun143 commented on #91
I didn't find the above img. Can you tell me in which part it is residing?

[2019-03-02 12:04] shakti97 opened #101 "Community SignUp form fields looking weird"
![screenshot 25](https://user-images.githubusercontent.com/30585570/53681608-efe4d300-3d11-11e9-9744-8762c0f01a86.png)
 you can see the bordered ends of the fields

[2019-03-02 12:05] shakti97 commented on #101
Already sent PR against this issue

[2019-03-02 12:21] tharun143 commented on #91
@jaskirat2000 Please tell me from where dod you got the image. It is not displayed on the website.

[2019-03-02 13:21] Rupeshiya commented on #101
@shakti97 , before sending any PR please get assigned with  the issue by asking to the project maintainer.

[2019-03-02 14:14] thisisabdus commented on #89
I am **not** working on this issue.

[2019-03-02 14:30] jaskirat2000 commented on #91
Thays a random image, you can put the random image

On Sat, 2 Mar 2019, 5:51 pm Tharun Ravuri, <notifications@github.com> wrote:

[2019-03-02 14:32] shakti97 commented on #101
sorry actually i didn't know this, i m new to OSS . Will apply this step before sending the next PR. I hope you don't mind :)

[2019-03-02 14:33] jaskirat2000 commented on #101
No worries. Looking forward to it.

On Sat, 2 Mar 2019, 8:02 pm Shakti Singh, <notifications@github.com> wrote:

[2019-03-02 16:56] tharun143 commented on #43
But what all the contents I have to add in the README.md?

[2019-03-02 17:31] tharun143 commented on #43
@jaskirat2000 Already Sweta she updated the README.md file with the landing images what else I have to do? Already it was updated.

[2019-03-02 17:32] tharun143 commented on #43
What else I have to do? PLease reply to this msg ASAP

[2019-03-02 17:33] jaskirat2000 commented on #43
Please make the size of images properly on the Readme with proper alligning
and avoid replication of images.
Reduce the size

On Sat, 2 Mar 2019, 11:01 pm Tharun Ravuri, <notifications@github.com>
wrote:

[2019-03-02 17:42] tharun143 commented on #43
@jaskirat2000 There is a problem while setting up the MongoDB It was mentioned that add the MongoDB URL in the credentials.js file But I have to add the URL in which block?  please elobarate it..

[2019-03-02 17:46] jaskirat2000 commented on #43
@devesh

[2019-03-02 17:46] jaskirat2000 commented on #43
He can be better guide you about the same

[2019-03-02 17:47] tharun143 commented on #43
ok

[2019-03-02 17:52] shreyanshjn opened #102 "Undefined variable in the file signup_validator.js"
Some variables are not declared but used.

[2019-03-02 17:54] shreyanshjn commented on #102
I have created a PR for this.

[2019-03-02 18:02] shreyanshjn commented on #43
@tharun143 you have to add the url in the '**database**' option in credential.js like this:-
database: 'your_mongo_url'

[2019-03-02 19:45] Rupeshiya commented on #101
cool @shakti97

[2019-03-02 19:58] tharun143 commented on #43
module.exports = {
  oauth: {
    clientID: "192695093229-kf95jtdv1jge25d86ak99e68dkrpu33o.apps.googleusercontent.com",
    clientSecret: "rXvfxBahDlJF1ORk7y660XM8"
  },
  database: 'mongodb://tharun143:9182467224@tmcluster-shard-00-00-rj7ki.mongodb.net:27017,tmcluster-shard-00-01-rj7ki.mongodb.net:27017,tmcluster-shard-00-02-rj7ki.mongodb.net:27017/test?ssl=true&replicaSet=Tmcluster-shard-0&authS

[2019-03-02 19:59] tharun143 commented on #43
@shreyanshjn Is this the way I have to write?

[2019-03-02 20:54] shreyanshjn commented on #83
I would like to work on this issue if anyone is not working on it.

[2019-03-03 09:16] shreyanshjn commented on #43
Yes @tharun143

[2019-03-03 10:22] shivamluthra commented on #89
Let me take up this issue :)

[2019-03-03 19:11] tharun143 commented on #43
@jaskirat2000  I guess now you can close the issue. I modified the images and removed the extra images and added headers to the respective images.

[2019-03-03 19:16] tharun143 commented on #41
Can I take this issue? If yes what are all the requirements?

[2019-03-03 19:36] jaskirat2000 commented on #41
This page needs to have new UI but its approch should be different.
Like we have pages in facebook, twitter "feeds page" only

On Mon, 4 Mar 2019, 12:46 am Tharun Ravuri, <notifications@github.com>
wrote:

[2019-03-03 19:39] tharun143 commented on #41
So the issue is that we have to change the entire UI for this project.

[2019-03-03 19:41] tharun143 commented on #41
But the issue is only about the Landing page right?

[2019-03-03 19:48] jaskirat2000 commented on #41
Not full UI. Only the landing page.
Landing page here means the first page that the user gets after logging in.

On Mon, 4 Mar 2019, 1:11 am Tharun Ravuri, <notifications@github.com> wrote:

[2019-03-03 21:57] lakshyabatman commented on #84
#106

[2019-03-04 04:36] Saichethan commented on #91
Is this issue still open?@jaskirat2000 can I work on this

[2019-03-04 06:35] mark-nakachon commented on #81
I will work on this I will add the option to edit the entire bio and I will use Axios library to make a post request to the /updatebio route and change the udpatebio function inside profile.controller.js to save the data to MongoDB database. if necessary I will also some validation in the routes using [Joi](https://www.npmjs.com/package/joi) May I ?

[2019-03-04 07:44] invincibleJai commented on #91
@Saichethan if am not wrong @imskr is already working on it.

@devshiva619 @jaskirat2000 can we assign the issue, confusion would be less.

[2019-03-04 07:45] invincibleJai commented on #81
@mark-nakachonI guess @khusi-anu is working on it. @khusi-anu pls let us know if you are not.

[2019-03-04 07:50] invincibleJai commented on #89
@shivamluthra pls go ahead 👍

[2019-03-04 07:52] invincibleJai commented on #83
@shreyanshjn you may take only if @iamgrawal is not working on it. @iamgrawal pls confirm??

[2019-03-04 09:12] mark-nakachon commented on #81
if u assign me for this i can fix it in less than an hour

[2019-03-04 09:32] khusi-anu commented on #81
@mark-nakachon Go ahead

[2019-03-04 09:44] debck commented on #100
@Rupeshiya 👍 you can start working on it. In case you need any help ask in the slack group.

[2019-03-04 10:50] TG1999 opened #107 "Track memory leakage of this Node.js application"

[2019-03-04 11:10] lakshyabatman commented on #107
Please describe the problem.

[2019-03-04 11:13] lakshyabatman opened #108 "Frontend logic for upvote and downvote in other-landing.ejs"
In my merged pr, I've updated the upvotes and downvotes logic and on clicking the upvote or downvotes button throws off the ajax request which updates the database although, the frontend for the success or failure is required.

**file**
Other-landing.ejs , you will find ajax script on it, and I added a comment for guidance.

[2019-03-04 11:15] TG1999 commented on #107
Memory leaks often go unnoticed. They become a problem when someone pays extra attention to the production performance metrics.
So if we can track or take log of memory leakage we can cover those.
And hence can scale this application

[2019-03-04 11:17] shreyanshjn commented on #108
I would like to take up this issue.

[2019-03-04 11:59] TG1999 commented on #107
![screenshot 2019-03-04 at 5 24 59 pm](https://user-images.githubusercontent.com/34160672/53732157-02424680-3ea3-11e9-8673-328b0bf3231e.png)
screenshot related to stats of the application

[2019-03-04 12:03] iamgrawal opened #110 "making the PR template"
A proper template is to be followed for making a Pull Request on any issue. Please provide a template for the same.

[2019-03-04 12:32] jaskirat2000 commented on #110
As well as issue template

[2019-03-04 12:48] lakshyabatman commented on #110
Please share the template before merging so we call can have look and I suggest to add a comment for asking the contributor to add gif for the issue or the pull request.

[2019-03-04 12:50] lakshyabatman commented on #108
Yes, sure :)

[2019-03-04 12:51] iamgrawal commented on #110
@jaskirat2000 @lakshyabatman Sure

[2019-03-04 12:57] lakshyabatman opened #111 "README Updates"
**Since, I found so many issues and pull requests related to Readme updates, though still the images are not updated.**

It want this issue for readme updates and issues related to it. And suggest no other issue should be created for it.

All the discussion related Readme shall be discussed under this issue :)

[2019-03-04 13:04] lakshyabatman commented on #107
Ok, can you add some links so one can actually understand where these memory leaks occur and you can even solve the issue :)

[2019-03-04 13:11] Dhroov7 commented on #21
@jaskirat2000 @devshiva619 Can i also contribute anything in this issue?

[2019-03-04 13:17] TG1999 commented on #107
https://nodejs.org/en/docs/guides/simple-profiling/ here is the link for everyone issue and I will also suggest that there should be some rule added in README that no one's code shouldn't increase the memory leakage of the application

[2019-03-04 13:31] TG1999 commented on #107
Now you can review the PR and merge it in development branch

[2019-03-04 17:26] mark-nakachon commented on #81
I resolved this issue and made a pull request  please review it

[2019-03-05 01:57] iamgrawal commented on #83
Hey @shreyanshjn, you can work on this issue. I am working on some other issue right now, meanwhile you can complete it.

[2019-03-05 09:57] sarthak77 commented on #88
Can I work on this?

[2019-03-05 10:04] invincibleJai commented on #88
@sarthak77 , @atharva3010 is working on this I believe. @atharva3010 are you on it?

[2019-03-05 10:04] sarthak77 commented on #88
Yeah I saw but someone suggested me this issue from the slack channel

[2019-03-05 10:13] invincibleJai commented on #88
wait for @atharva3010 to revert else you are pick up

[2019-03-05 10:52] jaskirat2000 commented on #110
I think this looks fine to me https://gist.github.com/indiesquidge/85075be518631964a56b75946153ebbf

[2019-03-05 11:18] jaskirat2000 commented on #110
### **Problem**
 _Describe the problem you are trying to achieve. Please provide in detail_

### **Solution of problem**
_How did you solve this problem? Please provide in detail_

### **Before and After Screenshots**
**Before** [How was it earlier, add it here]
**After** [How it looks now, add it here]

### **Type of Change**
- [ ] Bug fix
- [ ] New Feature
- [ ] Development of UI/UX prototypes
-

[2019-03-05 11:19] jaskirat2000 commented on #110
Does the above I wroylte make sense ? @iamgrawal @lakshyabatman @devshiva619

[2019-03-05 11:21] devshiva619 commented on #96
test comment once again

[2019-03-05 11:21] devshiva619 commented on #96
@devshiva619

[2019-03-05 11:22] #96 closed

[2019-03-05 11:31] jaskirat2000 commented on #110
@shivamluthra

[2019-03-05 11:32] jaskirat2000 opened #115 "Make Issue template"

[2019-03-05 12:09] iamgrawal commented on #110
@jaskirat2000 Yeah, looks good

[2019-03-05 12:10] iamgrawal commented on #115
@jaskirat2000 you haven't mentioned anything in the description.

[2019-03-05 13:18] jaskirat2000 commented on #115
I thought lets others put their thoughts

On Tue, 5 Mar 2019, 5:40 pm Gaurav Rawal, <notifications@github.com> wrote:

[2019-03-05 14:23] jaskirat2000 commented on #115
### **Description of the problem**
_Describe the issue in detail_

### **How to solve**
_Explain the issue how it can be solved in detail with links if required

### **Expected Outcome**
_What will be the result_

[2019-03-05 14:24] jaskirat2000 commented on #115
@iamgrawal

[2019-03-05 14:30] jaskirat2000 commented on #115
### **Screenshot**
_Add Screenshot to explain things better_

[2019-03-05 17:19] devshiva619 commented on #115
@jaskirat2000 perfect 👍

[2019-03-05 17:20] devshiva619 commented on #110
@jaskirat2000 👍

[2019-03-05 17:31] tharun143 opened #116 "recommend community standards should follow"
Every repo in GitHub should follow community standards like the code of conduct, license and contribute.
you can check more about this in insights -> community profile -> code of conduct, license, contributiung

[2019-03-05 17:33] tharun143 commented on #116
I will take this issue and solve it.

[2019-03-05 17:39] TG1999 commented on #107
@jaskirat2000 the issue has been solved please review the PR.

[2019-03-05 17:41] tharun143 commented on #43
@jaskirat2000 Is there any updates to do? If yes please tell me.

[2019-03-05 17:50] lakshyabatman opened #117 "Login Page For User"
We need a proper login page for users which redirects them to dashboard.
Assigning it to myself

[2019-03-05 18:09] lakshyabatman opened #118 "Adding some task runner like grunt or gulp"
Having large css, js and images files can decrease performance alot, so adding task runners like gulp or grunt can help alot by minifying js and css files and reducing image sizes.

The disribution version of project will be created and will be added to dist folder which can be used in production stage.

Assigning this issue to myself.

[2019-03-05 18:12] iamgrawal commented on #115
@jaskirat2000 since you are the owner of this repo, you only can setup the issue template for this repo. For reference you can go to this link: https://help.github.com/en/articles/creating-issue-templates-for-your-repository

[2019-03-05 18:32] iamgrawal commented on #110
I am closing this issue, since a PR has been for this.

[2019-03-05 18:53] atharva3010 commented on #88
I am working on it

[2019-03-05 18:56] svr8 commented on #90
Hey! I wanted to solve this issue.. got a little confused. Where should I add the timestamp? at the circled location or where it says in red "add timestamp".

[2019-03-05 19:31] invincibleJai commented on #90
@sweezy793 are working on this?

[2019-03-05 19:59] nik72619c commented on #117
Sorry to write it in this comment but didn't wanted to create a separate issue:-
How to be a part of this organisation...kindly guide me with this!
I'm already an OSS contributor and maintainer, hence wish to contribute and help :)
@lakshyabatman

[2019-03-05 20:01] jaskirat2000 commented on #117
Why don't you join us at slack.codeuino.org

On Wed, 6 Mar 2019, 1:29 am Nikhil Sharma, <notifications@github.com> wrote:

[2019-03-05 20:03] nik72619c commented on #117
Sure... will join right away

[2019-03-05 20:41] svr8 commented on #13
Hey! is anyone working on this issue?
I have the same doubt as above.. is there any API where I keep checking if there are any notifications?
I plan to implement a Pub/Sub mechanism so its easy to handle notifications

[2019-03-06 04:18] mark-nakachon opened #122 "signup route and page for the user"
there is a signup page in the codebase but it is not used in the homepage and even a route is not there for signup

I will solve this issue by providing a route /signup and I will add style and store the details in MongoDB
and now the user can log in (there is no page for login also but #117 is already reported)

after resolving this issue a user can signup

[2019-03-06 04:22] jaskirat2000 commented on #122
This issue would not be acceptable unless you follow issue template. It would be closed soon if it is not made accordingly

[2019-03-06 04:26] pradnyasd commented on #80
@devesh-verma  is anyone working on this issue? or should I start with it?

[2019-03-06 04:28] #107 closed

[2019-03-06 04:31] thobhanifreddy commented on #80
@pradnyasd I will open PR in few hours.

[2019-03-06 05:35] lakshyabatman commented on #122
There exist a page for signup.

[2019-03-06 05:47] lakshyabatman opened #124 "Feeback page exists in separate folder in views"
### **Description of the problem**
In the views folder, there is another folder for feedback, which is disrupting the flow of codebase.

### **How to solve**
Please change all routes related to feedback and add all css and js files to css and js folder respectively.

### **Screenshot**
none

### **Expected Outcome**
Better codebase

[2019-03-06 05:54] nik72619c commented on #124
Anybody working on this?

[2019-03-06 06:08] nurdtechie98 commented on #124
I would like to work on this issue

[2019-03-06 06:25] jaskirat2000 commented on #124
Sure go ahead

On Wed, 6 Mar 2019, 11:38 am Chirag Shetty, <notifications@github.com>
wrote:

[2019-03-06 06:25] #122 closed

[2019-03-06 06:36] sarthak77 commented on #61
I'll take this up

[2019-03-06 06:37] jaskirat2000 commented on #61
So please go ahead

On Wed, 6 Mar 2019, 12:06 pm sarthak, <notifications@github.com> wrote:

[2019-03-06 07:28] mark-nakachon opened #125 "signup problem"
### **Description of the problem**
this problem is about signing up a user although there is a sign up page it is not styled and the post request to /userlogin route is not working and when a user signs up his/her details are not stored in the database

### **How to solve**
i will solve this issue by adding a /signup route and handle the logic of signing up the user and saving the details in the d

[2019-03-06 08:01] jaskirat2000 commented on #125
Sounds cool, go ahead

On Wed, 6 Mar 2019, 12:58 pm harish chennupati, <notifications@github.com>
wrote:

[2019-03-06 09:15] sarthak77 commented on #61
I'll take this up

[2019-03-06 09:29] lakshyabatman commented on #124
Also make sure the forum folder is also adjusted to views folder

[2019-03-06 09:30] lakshyabatman commented on #124
And make it quick, cause I want to automate the project using gulp so I need it urgently

[2019-03-06 09:31] lakshyabatman commented on #124
#118

[2019-03-06 10:56] nurdtechie98 commented on #124
Yes I'll make it by tonight.

[2019-03-06 13:13] TG1999 opened #126 "Adding Memory leakage tracking"
### **Description of the problem**
For now memory leakage of any kind is not tracked . There are some kind of leakages like you can see in this article.https://medium.com/tech-tajawal/memory-leaks-in-nodejs-quick-overview-988c23b24dba

### **How to solve**
Add some tracker to track the stats and leakage so that leakage can be removed.

### **Expected Outcome**
Getting a log of stats related to mem

[2019-03-06 13:21] TG1999 commented on #126
@jaskirat2000 please review #127

[2019-03-06 13:24] TG1999 commented on #126
@capedcrusader23 please review #127

[2019-03-06 13:37] Vaibhavraj10 commented on #79
Is anybody else working on this issue?

[2019-03-06 14:12] sarthak77 commented on #61
@jaskirat2000 can you tell the files and branch to modify for this?

[2019-03-06 14:21] sarthak77 commented on #80
@jaskirat2000 doesn't it conflict with issue #13?

[2019-03-06 15:48] nurdtechie98 commented on #124
@lakshyabatman even the forums folder is present inside a separate folder should I even move that out?

[2019-03-06 16:45] jaskirat2000 commented on #80
Opps I think yes, please close this issue Thanks

On Wed, 6 Mar 2019, 8:15 pm sarthak, <notifications@github.com> wrote:

[2019-03-06 18:59] lakshyabatman commented on #124
no, thankyou. :)

[2019-03-07 03:56] jaskirat2000 commented on #61
@capedcrusader23 can you help in this

[2019-03-07 04:02] debck opened #130 "Adding Netlify bot to preview Deploys"
### **Description of the problem**
Adding netlify bot to the project for Deploy previews. Any front-end related PR can be  easily previewed and would provide a better solution for maintainers.

### **How to solve**
We can easily do that by configuring  our GitHub account with netlify and giving permission to the repo.

[2019-03-07 08:18] jaskirat2000 commented on #130
This sounds good. Make a request for it. I will merge

On Thu, 7 Mar 2019, 9:32 am Debasish Sahoo, <notifications@github.com>
wrote:

[2019-03-07 09:03] tharun143 commented on #43
@shreyanshjn

 database: 'const MongoClient = require('mongodb').MongoClient; const uri = "mongodb+srv://tharun143:9182467224@tmcluster-rj7ki.mongodb.net/test?retryWrites=true";const client = new MongoClient(uri, { useNewUrlParser: true });client.connect(err => {const collection = client.db("test").collecti("devices");// perform actions on the collection objectclient.close();});',

[2019-03-07 10:31] svr8 commented on #13
Please review PR #120

[2019-03-07 13:16] TG1999 commented on #126
@devshiva619 please review #127

[2019-03-07 16:39] iamgrawal commented on #110
There is an update that is needed in the template, so reopening this issue.

[2019-03-07 16:53] #126 closed

[2019-03-07 16:53] #110 closed

[2019-03-07 16:54] iamgrawal commented on #115
Since the issue template is created, I am closing this issue.

[2019-03-07 16:54] #115 closed

[2019-03-07 17:21] shreyanshjn commented on #108
@lakshyabatman I could see only one project which seems to be hard-coded.

![project](https://user-images.githubusercontent.com/34000568/53975663-65dea500-412b-11e9-9864-6a2edfc6bde1.png)

Can you help me on how could I add new project?
I need this in order to solve the issue.

[2019-03-07 17:24] lakshyabatman commented on #108
@capedcrusader23 , please can you help.

If you go to db folder, there are projects.txt, which contains the projects and you can work on it.
@shreyanshjn

[2019-03-07 17:47] nurdtechie98 commented on #124
@lakshyabatman @jaskirat2000 this can be closed now right?

[2019-03-07 17:49] #124 closed

[2019-03-07 17:49] jaskirat2000 commented on #124
Yes

On Thu, 7 Mar 2019, 11:17 pm Chirag Shetty, <notifications@github.com>
wrote:

[2019-03-07 18:19] arghac14 commented on #88
Anyone working on this? @atharva3010 @invincibleJai  @devshiva619
If not I'd like to work.

[2019-03-07 18:58] arghac14 commented on #117
@lakshyabatman are you still working on this?

[2019-03-07 18:59] arghac14 commented on #111
@lakshyabatman assign me this.

[2019-03-07 19:01] lakshyabatman commented on #117
@arghac14 , yes I  am.

[2019-03-08 07:41] arghac14 commented on #101
Hey @Rupeshiya can I work on this is anyone is not working?

[2019-03-08 07:49] Rupeshiya commented on #101
@arghac14  There is already a PR for this issue .So please look for other issues .

[2019-03-08 08:40] TG1999 opened #133 "Implementing ElasticSearch with MongoDB"
### **Description of the problem**
ElasticSearch implements a lot more features, such as custom splitting of text into words, custom stemming, facetted search and a whole lot more. While MongoDB's (rather simple) text search does some of this, it is not nearly as powerful as ElasticSearch.

If all you ever do is look for a single string in a single field, then MongoDB's normal query system will wo

[2019-03-08 08:41] TG1999 commented on #133
I assign this issue to myself

[2019-03-08 13:23] ArchitaDesai commented on #78
Can I work on this issue, @jaskirat2000 @capedcrusader23 since no one else has commented for a week?

[2019-03-08 15:15] jaskirat2000 commented on #78
Sure. This would be appreciable

On Fri, 8 Mar 2019, 6:53 pm Archita Desai, <notifications@github.com> wrote:

[2019-03-08 16:15] iamgrawal commented on #133
Hey @TG1999 , thanks for this issue. Seeing the scale of the project right now, I don't see any use case of integrating elastic search right now. If you feel like there is a use case then do tell us, there might be the case which could have been skipped by me.

[2019-03-08 17:05] capedcrusader23 commented on #83
Hey anyone working on this??

[2019-03-08 18:07] debck opened #135 "Add FLOW for typechecking"
### **Description of the problem**
Add Flow to the existing project. It adds static typing to JavaScript to improve developer productivity and code quality.

### **How to solve**
using flow for nodejs. Resourse: https://codeburst.io/getting-started-with-flow-and-nodejs-b8442d3d2e57

[2019-03-08 18:58] Rupeshiya opened #136 "No footer after login ."
### **Description of the problem**
_Footer is not there after logged in_

### **How to solve**
_Render the same footer as before login _

### **Screenshot**
_Add necessary screenshot wherever required_

### **Expected Outcome**
_Footer will be there to navigate easily after login._

[2019-03-08 18:59] Rupeshiya commented on #136
@iamgrawal  Should I go ahead ?

[2019-03-08 19:05] jaskirat2000 commented on #136
Footer regarding what ?

On Sat, 9 Mar 2019, 12:29 am Rupesh Krishna Jha, <notifications@github.com>
wrote:

[2019-03-08 19:09] Rupeshiya commented on #136
Only in the landing page there is footer but not in all the pages .I think It should be in all pages , correct me if am wrong ??

[2019-03-08 19:49] arghac14 commented on #136
@Rupeshiya assign this to me.

[2019-03-08 22:23] sarthak77 commented on #61
@capedcrusader23 can you comment on the thread
Thanks

[2019-03-08 22:39] sarthak77 commented on #89
Is anyone working on this issue?

[2019-03-09 05:47] lakshyabatman opened #137 "CSS isn't loading"
### **Description of the problem**
CSS isn't loading in other-landing.ejs files,

### **How to solve**
Check the integration of css file in the file, as in localhost in the css isn't loading but opening ejs file, it loads.

### **Screenshot**
![Screenshot from 2019-03-09 11-16-34](https://user-images.githubusercontent.com/29687362/54066816-dafdc780-425c-11e9-91cd-bc97c9a9358b.png)
![Screenshot fro

[2019-03-09 05:51] TG1999 commented on #137
Assign this issue to me

[2019-03-09 05:57] lakshyabatman opened #139 "Why External Bootstrap files is there in other.landing.ejs"
### **Description of the problem**
In other-landing.ejs, the bootstrap css files is linked to external cdns

### **How to solve**
Add css files in the vendors and integrate it in.

### **Screenshot**

### **Expected Outcome**
Less fetching time of css.

[2019-03-09 05:58] lakshyabatman commented on #139
I'm assigning to myself

[2019-03-09 05:58] TG1999 commented on #137
please review #138 @jaskirat2000

[2019-03-09 06:00] TG1999 commented on #133
Fine @iamgrawal so should I close this issue for now ? and one thing more can I write a Dockerfile for this project so I can open an issue for the same and start working.

[2019-03-09 06:08] lakshyabatman commented on #137
@TG1999 Great job. :)

[2019-03-09 06:32] lakshyabatman commented on #139
#140

[2019-03-09 06:33] jaskirat2000 commented on #139
Sure

On Sat, 9 Mar 2019, 12:02 pm Lakshya Khera, <notifications@github.com>
wrote:

[2019-03-09 06:34] lakshyabatman commented on #139
@jaskirat2000 , there are other several external cdn link and I'm removing them, okay

[2019-03-09 06:37] jaskirat2000 commented on #139
Okay,

On Sat, 9 Mar 2019, 12:04 pm Lakshya Khera, <notifications@github.com>
wrote:

[2019-03-09 06:41] #100 closed

[2019-03-09 06:45] iamgrawal commented on #133
@TG1999 thanks for the suggestion for adding the docker file, but since the project is not too big right now so you don't need it. It will be added in the timeline when the project scales.
I am closing this issue since there is no use case as of now, will reopen it whenever we feel to use it.

[2019-03-09 06:45] #133 closed

[2019-03-09 06:53] Rupeshiya opened #142 "Add 404 page"
### **Description of the problem**
_404 page is not rendering on uncaught request_

### **How to solve**
_Add 404 page and render on uncaught request_

### **Expected Outcome**
_On uncaught request 404 page will be rendered_

@jaskirat2000  should I add this ??

[2019-03-09 08:11] ani-sha commented on #79
@capedcrusader23 I am working on this issue but I am facing some issues. I have made the feeds section scrollable but it's difficult to write media queries for smaller screens due to lot of dependencies from external css files. Will I raise a PR with my current changes?

[2019-03-09 11:54] shivamluthra commented on #89
@sarthak77 Yes I'm on it. Got a bit late, was working on something else before.

[2019-03-09 15:13] sarthak77 commented on #136
Can i take this one?

[2019-03-09 15:14] sarthak77 commented on #98
@jaskirat2000 can I take this one ?

[2019-03-09 15:18] sarthak77 commented on #68
@lakshyabatman I think to make the webpages responsive a complete revamp of original structure is required. It appears to be a time consuming issue which would require a lot of time.
Can I take this up?
It would also be in align with the 3rd project
Looking for your response

[2019-03-09 15:19] sarthak77 commented on #41
Is this issue taken?

[2019-03-09 17:29] capedcrusader23 opened #146 "Need rectification in schema"
### **Description of the problem**
The schema can be rectified for user and project

### **How to solve**
look for the data types and the mappings required by mongodb
### **Screenshot**
_Add necessary screenshot wherever required_

### **Expected Outcome**
A robust schema for user and projects

[2019-03-09 17:33] lakshyabatman commented on #146
Why I can't find the upDownVote function, in the controller file?

[2019-03-09 17:33] capedcrusader23 commented on #146
@lakshyabatman we are working on finding that

[2019-03-09 17:38] kiransaha commented on #146
Pr requested

[2019-03-09 18:02] lakshyabatman commented on #146
@capedcrusader23 , I'll add pr for the again

[2019-03-09 18:04] lakshyabatman commented on #146
I'm taking up the issue.

[2019-03-09 18:50] kiransaha commented on #146
THe pr is already in process

[2019-03-09 19:02] sweezy793 commented on #32
@jaskirat2000 Can I work on this now ?

[2019-03-10 06:33] #116 closed

[2019-03-10 07:45] Rupeshiya opened #149 "Add backend validation in submit project form"
### **Description of the problem**
_There is no validation in submit project form_

### **How to solve**
_Add frontend and backend validation_

### **Screenshot**
_Add necessary screenshot wherever required_

### **Expected Outcome**
_Users can not submit form without filling the required information_
@devshiva619  should I work on this ?

[2019-03-10 07:55] tharun143 commented on #41
yes @sarthak77

[2019-03-10 08:14] tharun143 commented on #41
@jaskirat2000 Are u talking about this page.
If yes I have to change the UI for this landing page. r8?
![Screenshot from 2019-03-10 13-43-09](https://user-images.githubusercontent.com/41537996/54082365-8f215000-433a-11e9-99a3-e798a6b9ed61.png)

[2019-03-10 08:15] tharun143 commented on #41
@jaskirat2000 Can u explain the issue briefly?

[2019-03-10 09:23] HarshCic commented on #27
Can i work on this @jaskirat2000 for 2019 GSoC

[2019-03-10 12:54] vaibhavdaren commented on #27
@HarshCic  you may work on it.

[2019-03-10 19:10] TG1999 opened #150 "Adding coverage report for the code"
### **Description of the problem**
At present there is no coverage report for the project .Most obvious benefit from code coverage report is an ability to detect which code isn't testing. Often this means that you need to add a test(s) for this code to make sure that it works properly.

### **How to solve**
Adding nyc or Istanbul for generating coverage report

### **Expected Outcome**
![Screensho

[2019-03-10 19:17] TG1999 commented on #150
I assign this issue to myself

[2019-03-11 05:49] capedcrusader23 commented on #149
Use express-validation for this

[2019-03-12 05:04] imdhruvgupta opened #153 "Logout Button not attached to any Route"
### **Description of the problem**
There is no route attached to the Logout button on the main-landing view. Hence the button is no functional.

### **How to solve**
Create a logOut route and add the redirect to that route onClick of the logout button.

### **Screenshot**
![Screenshot 2019-03-12 at 10 31 40 AM](https://user-images.githubusercontent.com/32172694/54175773-0d543280-44b2-11e9-800c-fc4

[2019-03-12 05:05] imdhruvgupta commented on #153
I am assigning this issue to myself and will be creating a PR soon enough.
Thanks,

[2019-03-12 06:49] shreyanshjn commented on #108
@lakshyabatman , since we are moving to vue, should I now edit the ejs file to resolve this issue?

[2019-03-15 05:09] ayush9898 commented on #142
Can I solve this ?

[2019-03-15 05:41] jaskirat2000 commented on #142
Sure

On Fri, 15 Mar 2019, 10:39 am ayush9898, <notifications@github.com> wrote:

[2019-03-15 07:02] Rupeshiya commented on #142
@ayush9898 it's already fixed ! .

[2019-03-15 15:40] mark-nakachon commented on #81
please close this issue as it is resolved

[2019-03-15 19:04] iamgrawal commented on #33
I am reopening this issue, since the authentication system is still not completed.

[2019-03-15 19:14] iamgrawal opened #154 "Problem logging in with google."
### **Description of the problem**
After successful signing in with google, I am redirected to another route that is not working. Showing error `can not read property username of undefined`

### **How to solve**
Will be working on the routes and add more checks for the auth-type validation.

### **Screenshot**
![image](https://user-images.githubusercontent.com/14204344/54456512-75da3280-4784-11e9-

[2019-03-15 19:55] shahkv95 commented on #89
Heyy, I have worked on cards.
I want to take up the task.
**May I** ??

[2019-03-16 15:58] ayush9898 commented on #38
Can I work on this issue now ?

[2019-03-17 09:18] shahkv95 commented on #89
@devshiva619 Heyy! May I proceed for the same?

[2019-03-17 09:19] shahkv95 commented on #136
@Rupeshiya I would like to take up this oppurtunity and contribute for the required output.
May I proceed for the same?

[2019-03-17 09:26] shahkv95 commented on #88
Heyy @devshiva619 ! I believe that there's no PR since a long time. I wish to take up the task and contribute the earliest possible. May I please proceed for the same.

[2019-03-17 09:26] pragun22 commented on #89
is anyone still working on this issue or may I work on this?

[2019-03-17 09:30] shahkv95 commented on #79
Heyy @capedcrusader23 I can solve this issue. May I proceed for the same?

[2019-03-17 11:21] Rupeshiya opened #155 "Add schema and backend logic for comment functionality."
### **Description of the problem**
_The logic and schema for comment in the backend is not implemented_

### **How to solve**
_Add schema and backend logic for comment functionality._

### **Expected Outcome**
_Backend Comment functionality should work and can be tested using postman_
@capedcrusader23  should I implement this?

[2019-03-17 16:06] piyush97 commented on #79
Yes

[2019-03-18 05:38] capedcrusader23 commented on #79
Sure you can work on it

[2019-03-19 16:06] agarwalprashasti commented on #89
Can you please assign this issue to me?

[2019-03-19 16:10] agarwalprashasti commented on #91
@devshiva619  Can you please assign the issue?

[2019-03-19 16:11] agarwalprashasti commented on #90
@devshiva619 Can you please assign this issue to me?

[2019-03-19 16:20] sarthak77 commented on #89
I guess @shivamluthra is working on it

[2019-03-19 16:48] agarwalprashasti commented on #89
But still it is not assigned to anyone.

[2019-03-20 09:24] shivamluthra commented on #89
@agarwalprashasti @pragun22 @shahkv95 @sarthak77 If anyone wants to take up the issue can do it. I didn't do it because of one major reason that it won't be much of benefit since complete codebase needs to be migrated to vue and profile page, user dashboard & community dashboard are already supposed to be re-written completely.
cc @jaskirat2000 @devshiva619

[2019-03-21 05:29] sahilit commented on #82
@capedcrusader23 what will be the data to be shown in the heatmap.

[2019-03-25 15:49] Rupeshiya commented on #153
@imdhruvgupta  are you working on this or can I send PR ??

[2019-03-25 16:21] imdhruvgupta commented on #153
@Rupeshiya I got a little busy. Leave this for me, I will send a pr in a couple of days.

[2019-03-25 16:31] Rupeshiya commented on #153
sure go ahead @imdhruvgupta

[2019-03-25 16:42] Rupeshiya opened #157 "Backend code for updating the personal information is not working, also add backend validation and separate css codes from settings.ejs"
### **Description of the problem**
_Backend code for updating the profile is not working, the code in settings.ejs is not refactored and there is no validation in the backend as well._

### **How to solve**
_Setup the routes properly for making update details request work properly, add validation and separate the css and js files form settings.ejs_

### **Expected Outcome**
_Profile will be update

[2019-03-25 16:56] jaskirat2000 commented on #157
Sure go ahead

On Mon, 25 Mar 2019, 10:12 pm Rupesh Krishna Jha, <notifications@github.com>
wrote:

[2019-03-27 08:46] shivamluthra commented on #94
@lakshyabatman Is this issue resolved? If yes, Please close this issue.

[2019-03-27 08:54] shivamluthra commented on #137
Issue status? @lakshyabatman Can you please close this if it's resolved now?

[2019-03-27 09:44] shivamluthra opened #159 "Audit old packages in package.json"
### **Description of the problem**
_Audit old vulnerable packages in package.json_
_Also update credentials for local mongoDB setup_

### **How to solve**
_```npm audit fix``` automatically fixes most of the vulnerabilities automatically. Remaining ones can be audited manually_
_Update config/credential.js with local mongodb url which was messed up while rebasing old code_

### **Screenshot**
_N/A

[2019-03-27 09:45] shivamluthra commented on #159
I've fixed this locally and will be sending a PR regarding the same.

[2019-03-27 14:58] Rupeshiya opened #161 "Add more tests for routes."
### :thinking:  What you will need to know

### **Description of the problem**
_There is the only testing for some of the routes_

## Requirements
1. Node.js
2. Chai.js
3. Mocha.js

## Step By Step :1234:
:raising_hand_man: Claim this issue: Comment below. If someone else has claimed it, ask if they've opened a pull request already and if they're stuck -- maybe you can help them solve a problem or

[2019-03-27 19:28] #139 closed

[2019-03-27 19:28] #137 closed

[2019-04-01 12:53] prateekiiest commented on #159
PR #160 for this issue.

[2019-04-01 16:39] svr8 opened #162 "Configuration file needed for front-end"
### **Configuration file needed for front-end**
There are a lot of things that will be constant throughout the website (say colors). Instead of hardcoding values everytime, constants should be used so development and changes in UI can be done easily.

### **How to solve**
In the `/views/js/` folder, we should have `common.js` that will provide all the needed constants and functions. For now, I pro

[2019-04-04 14:47] TG1999 opened #164 "Prototype for screen sharing for idea 5 of GSoC"
### **Description of the problem**
There is no feature of screen sharing in DONUT as for now. I am sharing a prototype for this
https://github.com/TG1999/task_screen_sharing. Instructions are given in readme.

### **How to solve**
This is only a prototype. Try to scale it like adding rooms and namespaces for multiple meetings and please try peer to peer communication as suggested by mentors and th

[2019-04-04 15:08] jaskirat2000 commented on #164
Thanks for it l. You can put the code also in someway

On Thu, 4 Apr 2019, 8:17 pm Tushar Goel, <notifications@github.com> wrote:

[2019-04-04 16:34] TG1999 commented on #164
@jaskirat2000 I am not able to get it, in which way should I be putting the code.

[2019-04-06 09:30] TG1999 opened #165 "auth/login route not working"
### **Description of the problem**
I was writing unit tests for routes login route is not working properly

### **How to solve**
There is some error with data.compare() please check

### **Expected Outcome**
The post request should log in user

[2019-04-06 09:35] Rupeshiya commented on #165
It's working @TG1999 , have you checked on running locally ?

[2019-04-06 09:36] TG1999 commented on #165
Yes @Rupeshiya

[2019-04-06 09:37] TG1999 commented on #165
Can you send a screenshot of the postman or any other tool from which you check your API it will be helpful

[2019-04-06 09:50] TG1999 opened #166 "Logout option is not given"
### **Description of the problem**
No logout option is their

### **How to solve**
Adding log out button and routing it too

### **Screenshot**
![Screenshot 2019-04-06 at 3 18 56 PM](https://user-images.githubusercontent.com/34160672/55667848-5b750f80-587f-11e9-9eb2-890bee6b0d76.png)

### **Expected Outcome**
A button with working functionality to log out user out of the session

[2019-04-06 16:53] #166 closed

[2019-04-06 17:13] lakshyabatman commented on #165
Yes, I got an error while logging or signing up using GitHub or google!
![Screenshot from 2019-04-06 22-42-09](https://user-images.githubusercontent.com/29687362/55672833-6058b400-58bd-11e9-9e41-cbe8f6f4f57a.png)
Btw, I was inactive so please enlighten if someone discussed about it :)

[2019-04-06 17:14] lakshyabatman commented on #153
@imdhruvgupta any progress?

[2019-04-06 17:20] lakshyabatman opened #169 "No Profile Picture image url link in schema"
### **Description of the problem**
A user should have a profile picture and which can be added by having link of it as string in the schema model
### **How to solve**
I will update the schema and add image link object in it.

### **Expected Outcome**
User can add his/her custom profile picture.

I am assigning this task to myself.

[2019-04-07 02:12] #150 closed

[2019-04-07 03:46] TG1999 opened #170 "Feature to upload image inside feed"
### **Description of the problem**
There is no currently any feature to add dynamic images inside feed.

### **How to solve**
Making a feature for the same

### **Screenshot**
![Screenshot 2019-04-07 at 9 15 09 AM](https://user-images.githubusercontent.com/34160672/55678357-b5281900-5915-11e9-8eae-619e60095123.png)

### **Expected Outcome**
A functionality which allows the user to add images of hi

[2019-04-07 11:49] mark-nakachon commented on #153
if u assign this issue to me i can fix it in less than an hour

[2019-04-07 11:51] TG1999 commented on #153
Thanks @mark-nakachon this issue is resolved already #166

[2019-04-07 11:52] TG1999 commented on #153
Please, someone, close this issue

[2019-04-07 11:56] mark-nakachon commented on #90
if u assign this issue to me i can fix it in less than an hour

[2019-04-07 11:57] mark-nakachon commented on #83
if u assign this issue to me i can fix it in less than an hour

[2019-04-07 15:58] lakshyabatman opened #172 "Signup Route missing"
### **Description of the problem**
The route for signup is missing
### **How to solve**
Add a route in reference with Signup Strategy in local.js
### **Screenshot**
_Add necessary screenshot wherever required_

### **Expected Outcome**
User can signup from signup page

[2019-04-07 16:17] lakshyabatman commented on #172
I realised that the signup route is named as login, which is quite confusing

[2019-04-07 16:18] #172 closed

[2019-04-08 07:35] lakshyabatman opened #174 "Signup isn't integrated with the backend properly"
### **Description of the problem**
In #173 , I have added the backend logic for profile picture.
The signup page isn't updated for the same.
### **How to solve**
Integrate the frontend with the backend.
### **Screenshot**

### **Expected Outcome**
User can signup easily and have a custom profile picture.

[2019-04-08 07:58] lakshyabatman commented on #174
I'll be taking this issue

[2019-04-08 11:09] lakshyabatman opened #175 "Bugs in Signup Route"
### **Description of the problem**
There are certain bugs in the signup routes.
Ther signup redirects tot the same page instead of login page or someplace else.

### **How to solve**
Making the route from post to get and then rendering login page after saving data.
### **Screenshot**

### **Expected Outcome**
A working signup route

[2019-04-08 11:24] TG1999 commented on #175
Are you talking about post request on /auth/userlogin

[2019-04-08 11:28] lakshyabatman commented on #175
Yes, btw there was lot of mess in the codeflow although. I have integrated it with the frontend and have you any idea that this route userlogin, saves the data or not?

[2019-04-08 11:39] TG1999 commented on #175
Let the request be post it will be more secure since we are also saving the password in it we can not let the password be shown in headers.

[2019-04-08 11:40] lakshyabatman commented on #175
Yes ofcourse, I will be making some other changes.

[2019-04-08 11:40] TG1999 commented on #175
Give me some time I will be checking for that btw when I have tested the route it worked and saved the data

[2019-04-08 15:39] sarthak77 commented on #153
Is the PR merged as route is not working for me?

[2019-04-08 15:43] TG1999 commented on #153
You are on which branch @sarthak77 development or master

[2019-04-08 15:51] sarthak77 commented on #153
development

[2019-04-08 15:59] TG1999 commented on #153
Yes, I checked in my PR it was only for other_landing.ejs but it should be also for main_landing.ejs.No problem making a PR for it in 5 minutes.

[2019-04-08 16:01] TG1999 commented on #153
I have made the PR thanks again for reminding.

[2019-04-08 18:22] lakshyabatman commented on #175
#173 , this solves the issue

[2019-04-08 19:43] #175 closed

[2019-04-08 19:43] #174 closed

[2019-04-09 05:49] Rupeshiya commented on #165
Hey @TG1999  @lakshyabatman  working fine in my case.
![login](https://user-images.githubusercontent.com/31209617/55776111-41bf0c80-5ab9-11e9-9f09-be07ad615d93.png)

[2019-04-09 05:50] TG1999 commented on #165
@Rupeshiya it's /authh/google not /auth/login

[2019-04-09 05:52] TG1999 commented on #165
I will suggest you to get yourself more familiar to codebase 😃 @Rupeshiya

[2019-04-09 05:55] Rupeshiya commented on #165
@TG1999  where you find out /auth/login it's /auth/google or /auth/github .
Have a look then judge anyone .Ok

[2019-04-09 05:57] Rupeshiya commented on #165
@TG1999  this is /auth/login .
![auth](https://user-images.githubusercontent.com/31209617/55776455-71badf80-5aba-11e9-95fc-e723d28e739d.png)

[2019-04-09 05:58] TG1999 commented on #165
Look in login.routes.js the second last request please check and I am not judging you I was just suggesting you . @Rupeshiya

[2019-04-09 05:59] TG1999 commented on #165
Bro it's a post request how can you expect a request which will carry password with it can be made get request it is very insecure

[2019-04-09 06:03] Rupeshiya commented on #165
Cool !

[2019-04-09 06:06] Rupeshiya commented on #165
@TG1999 login with google or github , is fine in your case ?
You are correct it's insecure but I think hashing will be better option here .

[2019-04-09 06:12] TG1999 commented on #165
Thanks @Rupeshiya for suggestion There is no need to hash it bcrypt is used already I have given the reason in the issue already so please can you see that part it will be really a great help

[2019-04-09 06:12] Rupeshiya opened #176 "Header is not appearing"
### **Description of the problem**
_Header is not appearing in submit project section i.e /profile/submitProject_

### **How to solve**
_Add a header or render the same header which is in the home page_

### **Screenshot**

![Screenshot from 2019-04-09 11-38-53](https://user-images.githubusercontent.com/31209617/55777064-65d01d00-5abc-11e9-83fc-e92442deffa8.png)
### **Expected Outcome**
_Header in

[2019-04-09 06:17] Rupeshiya commented on #165
Sure @TG1999

[2019-04-09 06:23] sarthak77 commented on #176
I guess issues related to frontend should not be dealt with now as it is going to be changed
@iamgrawal

[2019-04-09 07:35] #169 closed

[2019-04-09 08:08] #170 closed

[2019-04-09 08:09] prateekiiest commented on #165
@tharun143 I guess you corrected this in your last merged PR?

[2019-04-09 08:10] prateekiiest commented on #159
Closed by #160

[2019-04-09 08:10] #159 closed

[2019-04-09 08:12] prateekiiest commented on #142
I am closing this since its already solved by #148

[2019-04-09 08:12] #142 closed

[2019-04-10 17:31] lakshyabatman opened #177 "Module for automatically resizing pictures"
### **Description of the problem**
**FEATURE UPDATE**
As in #173 and #171, we can upload pictures in DONUT, though users most upload pictures of different size and aspect ratios.
Making the UI bad.
And also, if a user uploads a high-quality image, it might reduce the performance of the app.
### **How to solve**
A module can be created which resize the image to a certain ratio and size.
### **Scree

[2019-04-10 17:32] lakshyabatman commented on #94
I'm not author the issue :) @shivamluthra .

[2019-04-11 21:20] lakshyabatman opened #180 "Introducing JSON Web Tokens for secured API calls"
### **Description of the problem**
*Feature Suggestion*
There are several requests send to servers for manipulating database and these calls can be misuse which can cause a crash of application and Database.
Example:
 A user cannot manipulate User B's data.
And the simplest and effective way is by using Web Tokens.

### **How to solve**
Installing JWT and updating schema and routes to use JWT
###

[2019-04-12 03:37] mark-nakachon commented on #180
I will take up this issue

[2019-04-12 07:52] lakshyabatman commented on #180
@mark-nakachon , this issue requires the modification in the whole project and I guess only one person cannot take up this issue, let me have talk with the @codeuino/contributors and then we can set up the team for it. Although if you want you can take up the whole project, but just wait for the other members to reply on this. :)
@codeuino/contributors , please have a look on it

[2019-04-13 10:36] MohammadHasham commented on #177
Can I work on this?

[2019-04-13 10:48] lakshyabatman commented on #177
I've added a pr of it, it's done :)

[2019-04-13 11:06] jaskirat2000 commented on #177
Thanks Lakshay, yoir PR will be reviewed soon

On Sat, 13 Apr 2019, 4:18 pm Lakshya Khera <notifications@github.com wrote:

[2019-04-13 16:32] MohammadHasham commented on #135
Can I work on this?

[2019-04-13 17:56] vaibhavdaren commented on #180
@mark-nakachon  how much time will you require?

[2019-04-13 18:12] mark-nakachon commented on #180
@vaibhavdaren currently I have my semester exams I will require a week atleast

[2019-04-13 18:41] pragun22 commented on #180
@lakshyabatman I am also interested in implementing this. You can count me in for the team.

[2019-04-14 01:11] prateekiiest commented on #165
Should we close this then?

[2019-04-14 01:13] prateekiiest commented on #135
Sure you can go ahead

[2019-04-14 01:17] prateekiiest commented on #177
@lakshyabatman could you link your PR here?

[2019-04-14 01:19] prateekiiest commented on #164
@TG1999 are you working on this?

Let us know when you open a PR

[2019-04-14 02:00] TG1999 commented on #164
I am not working on this project I wanted to share the code to the
community so @jaskirat2000 suggested me to open an issue for it. This is a
prototype only which others could incorporate in their proposal .

On Sun 14 Apr, 2019, 06:49 Prateek Chanda, <notifications@github.com> wrote:

[2019-04-14 04:56] TG1999 commented on #165
I have not corrected it yet I thought @Rupeshiya is working on it. My bad.

[2019-04-14 05:17] Rupeshiya commented on #165
@TG1999 I always assign the issue myself before start working on it, but no worry. You can start working on it.

[2019-04-14 08:38] pragun22 commented on #165
@TG1999 I can work on this issue if no one is assigned

[2019-04-14 08:46] prateekiiest commented on #165
sure @pragun22 go ahead if you want to

[2019-04-14 09:40] lakshyabatman commented on #177
@prateekiiest  #179

[2019-04-14 11:15] vaibhavdaren commented on #180
all the best :+1:

[2019-04-14 15:42] MohammadHasham commented on #135
Done this and made PR as well.

[2019-04-15 18:38] pragun22 opened #182 "Signup/login page for users showing error of password not matching even when passwords are matching"
### **Description of the problem**
In the login page for organisations [link](localhost:3000/signup_community.html) even when fields of password and retype password match still it gives an error of password not matching. this occurs because in the file /views/js/signup_validator.js for finding the value of pass and cpass, after writing .getElementByID(), .innerhtml is not written due to which it r

[2019-04-15 18:57] pragun22 commented on #182
#183 made a PR request for the mentioned issue

[2019-04-16 14:36] #177 closed

[2019-04-16 14:36] lakshyabatman commented on #177
PR Merged #179  :)

[2019-04-16 14:42] lakshyabatman opened #184 "Contributing.md is not there in the codebase."
### **Description of the problem**
Contributing.md doesn't exist.
### **How to solve**
Creation of contribution.md, many new users are getting towards our organization and they might face the problem of where to start.
So a Markdown file describing how to connect with the org and how to start contributing.
This file should consist of a installation guide, interaction with other members, links to r

[2019-04-16 21:02] pragun22 commented on #165
I have made a PR for the issue, kindly verify it.

[2019-04-17 14:55] prateekiiest commented on #184
sure go ahead

[2019-04-17 15:08] prateekiiest commented on #48
is this being currently worked upon?

[2019-04-17 19:44] singh728om commented on #91
Adding images using UI. I things what types any formate.

[2019-04-20 04:38] lakshyabatman commented on #184
#186 , fixes it @prateekiiest have a look on this :)

[2019-04-20 04:58] prateekiiest commented on #184
Thanks @lakshyabatman

[2019-04-20 04:58] #184 closed

[2019-04-24 09:13] Rupeshiya opened #187 "User is not defined i.e use.fname and use.lname is not defined in other-landing.ejs"
### **Description of the problem**
_use object is not defined in other-landing.ejs so giving use.lname and use.fname undefined on accessing it. To check the issue go to --> http://localhost:3000/profile/profileview/xyz_

### **How to solve**
_To access the user details by using "use" object should be defined before accessing it_

### **Expected Outcome**
_use.fname and use.lname should render firs

[2019-04-24 09:24] Rupeshiya opened #188 "Upvote click is sending request to http://localhost:3000/profile/upvote , which is not found."
### **Description of the problem**
_Upvote click is sending a request to http://localhost:3000/profile/upvote, which does not exist._

### **How to solve**
_It should send request to  http://localhost:3000/profile/upDownVote_

### **Expected Outcome**
_404 error for the request will be removed and like functionality should work properly_

[2019-05-02 12:47] Rupeshiya commented on #118
@lakshyabatman are you working on this?

[2019-05-04 05:22] lakshyabatman commented on #118
Yes,  I was working on this, but due to poor structure of workflow , I kept this issue on hold :)

[2019-05-07 18:43] wildcod commented on #180
I'm intrested to work on this issue

[2019-06-23 20:24] vaibhavdaren opened #207 "backend mongodb models"
### **Description of the problem**
Creation of MongoDB models
1)Creating posts
2)Retrieving al posts
3)Scheduling Posting
4)deleting posts
5)updating posts

### **How to solve**
_Explain the issue how it can be solved in detail with links if required_

### **Screenshot**
_Add necessary screenshot wherever required_

### **Expected Outcome**
_What will be the result_

[2019-06-23 20:25] TG1999 commented on #207
Assign this issue to me

[2019-06-25 19:37] lakshyabatman opened #209 "Issue while installing npm modules for server in gsoc branch"
### **Description of the problem**
On `npm i` , node-memwatch is facing issues.

### **How to solve**
@TG1999 can you solve this issue asap. :)
![Screenshot from 2019-06-26 01-06-14](https://user-images.githubusercontent.com/29687362/60127768-a29fdc00-97ae-11e9-9152-1f65cf41f295.png)

[2019-06-25 19:38] lakshyabatman commented on #209
Though on deleting node_modules, and reinstalling it, gave same errors but application starts.

[2019-06-25 20:04] #165 closed

[2019-06-27 09:39] vaibhavdaren commented on #207
@TG1999  populate the issue template

[2019-06-27 20:03] lakshyabatman commented on #209
#210 solves this

[2019-06-27 20:04] lakshyabatman commented on #188
@Rupeshiya , please close this issue, cause We're deleting views folder. Thankyou :)

[2019-06-27 20:05] lakshyabatman commented on #187
@Rupeshiya , please close this issue as the frontend is migrated to vue, though you can now start contributing in the backend in gsoc branch. Thankyou:)

[2019-06-27 20:05] #180 closed

[2019-06-27 20:06] lakshyabatman commented on #176
@Rupeshiya you may close this issuse. Thankyou :)

[2019-06-27 20:06] #118 closed

[2019-06-27 22:16] #176 closed

[2019-06-27 22:20] Rupeshiya commented on #187
Great @lakshyabatman , thanks.

[2019-06-27 22:20] #187 closed

[2019-06-27 22:20] #188 closed

[2019-07-01 20:15] #209 closed

[2019-07-02 17:55] TG1999 commented on #207
Please close this issue.

[2019-07-03 07:08] #207 closed

[2019-07-03 07:08] vaibhavdaren commented on #207
done :package:

[2019-07-03 13:40] TG1999 opened #215 "Add tests for post controllers"
### **Description of the problem**
Currently controller regarding posts is not tested

### **How to solve**
Writing tests to increase the code coverage.

### **Expected Outcome**
Post controllers are successfully tested.

[2019-07-03 13:41] TG1999 commented on #215
Assign this issue to me. :)

[2019-07-29 14:36] lakshyabatman opened #217 "Post schema issues"
### **Description of the problem**
The Post schema has some issues, the user should be an object where ObjectID and type of user should be added.
And User should have posts property for it.
Secondly, can you add a comment of what data to be sent to routes and what response is expected, for frontend developers, please :).
Posts type should be for posts and scholarship only cause there is a differen

[2019-07-29 14:37] lakshyabatman commented on #217
@TG1999
I am assigning you this. :dagger:

[2019-08-04 08:13] Rupeshiya commented on #217
@lakshyabatman are you working on this ?

[2019-08-04 09:18] Rupeshiya opened #218 "In config folder credentials.js not found"
### **Description of the problem**
_On gsoc branch --> server.js
const {secret,db, VAPID_KEYS} = require('./config/credential.js');
whereas ```credentials.js``` not found in config folder_

### **How to solve**
_Add credetials.js or set up env variable for this_

@lakshyabatman  look at it

[2019-08-04 09:21] #218 closed

[2019-08-18 11:09] vaibhavdaren opened #219 "Report here @mentors"
### **Description of the problem**
@devshiva619  @jaskirat2000  @capedcrusader23

Find missing links in codes and report here,
### **How to solve**
Find missing things in code.

### **Screenshot**
you can put line numbers.

### **Expected Outcome**
Learning Outcomes: code quality

[2019-08-18 11:11] vaibhavdaren commented on #219
@lakshyabatman  improve quality else pull requests will be reverted.

[2019-09-05 10:52] lakshyabatman opened #221 "Refactoring of code"
### **Description of the problem**
The frontend is setup in VueJS, and it needs some refactoring.
I am starting this thread to deal with refactoring of codebase.

### **How to solve**
Look over which file and make code cleaner and add comments.

### **Screenshot**
_Add necessary screenshot wherever required_

### **Expected Outcome**
Better Codebase.

[2019-09-05 10:54] lakshyabatman opened #222 "Adding image upload feature"
### **Description of the problem**
Backend logic for uploading image is not done.
### **How to solve**
Seek help from @devshiva619 , so he'll guide you to setup image upload using AWS.

### **Expected Outcome**
User can upload images, for profile picture, event cover, project cover.

[2019-09-05 10:55] #98 closed

[2019-09-05 10:55] lakshyabatman commented on #94
Please close this issue @SarthakSri98

[2019-09-05 10:56] lakshyabatman commented on #101
Please close this issue @shakti97

[2019-09-05 10:57] lakshyabatman commented on #182
Hey @pragun22 , can you please close this issue. :)

[2019-09-05 10:58] lakshyabatman commented on #217
@Rupeshiya  , yes I solved this :)

[2019-09-05 10:58] #217 closed

[2019-09-05 10:58] #117 closed

[2019-09-05 10:59] #68 closed

[2019-09-05 15:30] #182 closed

[2019-09-22 11:15] TG1999 opened #224 "Adding forgot password feature (Backend)"
### **Description of the problem**
Currently their is no feature for forgot password

### **How to solve**
This feature will be like. First get the username of the user then send an email to that user with a link to reset the password.

### **Expected Outcome**
This will give an additional functionality to DONUT :)

[2019-09-22 11:16] TG1999 commented on #224
I want to assign this issue to myself. I will try to send the PR before weekend and get it reviewed in the weekend.

[2019-09-22 11:19] #215 closed

[2019-09-29 11:42] TG1999 commented on #224
@devshiva619 when you are merging the code so I can start working on this feature :smile:

[2019-10-05 06:52] subhamX commented on #222
I would like to take this issue.

[2019-10-10 09:39] Rupeshiya opened #228 "All tests failing."
### **Description of the problem**
_All the tests failing_

### **How to solve**
_Improve the tests written in /test/controller_test.js_

### **Screenshot**
![Screenshot from 2019-10-10 15-38-44](https://user-images.githubusercontent.com/31209617/66560005-1bffe680-eb74-11e9-92e3-ab9f1af8dda3.png)

### **Expected Outcome**
_Should Pass the test_

[2019-10-10 09:40] Rupeshiya commented on #228
Working on it

[2019-10-11 08:08] #224 closed

[2019-10-11 13:37] Rupeshiya commented on #161
fix #231

[2019-10-13 07:08] TG1999 commented on #222
@devesh-verma can you tell the location where should I save the image file, currently I am sending a PR with the local location at the server, I will make the change afterward.

[2019-10-15 17:41] ashish10677 commented on #32
Is the issue still open? I would like to contribute.

[2019-10-16 12:20] sastava007 opened #233 "Adding Smooth Scroll for internal links"
### **Description of the problem**
Adding smooth scroll for internal links.
Currently when user clicks on a link then it makes an *****instant jump***** to the linked section of webpage rather than scrolling which not at all looks cool and is considered as a bad user experience.

### **How to solve**
It can be resolved using any smooth-scroll library package.

### **Screenshot**
![Jump Scroll](htt

[2019-10-16 12:21] sastava007 commented on #233
**I'm working on this issue!**

[2019-10-16 16:07] Rupeshiya opened #234 "/forgot/getById is not sending any response."
### **Description of the problem**
_On post request to http://localhost:3000/forgot/getById is not sending any response_

### **How to solve**
_Send the request on successfull_

### **Screenshot**
_Add necessary screenshot wherever required_

### **Expected Outcome**
_Should get some response from backend when post request is sent from client side_

[2019-10-16 16:15] Rupeshiya opened #235 "Fully implement the forgot password"
### **Description of the problem**
_Change password function is only taking email and password and looking for the user and sending back the user details_

### **How to solve**
_Update the chagePass function of forgot password controller to update the password_

### **Screenshot**
_Add necessary screenshot wherever required_

### **Expected Outcome**
_Should update the password_

[2019-10-16 16:17] TG1999 commented on #235
Okay with which password it should update it then ? 😊

[2019-10-16 16:20] TG1999 commented on #235
Let me explain you the mechanism before you open further issues like this, first user give its email id, then user receives an email. After clicking on the link the user will be redirected to page if the link is verified(change pass) this work is done till now, the redirection part is left where I will get the new password of user.

[2019-10-16 16:20] TG1999 commented on #235
So please close this issue. 😄

[2019-10-16 17:35] Rupeshiya commented on #235
@TG1999 But to change the password you should have to take the password from frontend and then update that instead of only sending the success msg after getting redirected to that link.

[2019-10-16 17:43] #234 closed

[2019-10-16 20:21] vaibhavdaren opened #237 "GCI: Setting up Donut and improving #Documentation#"
**🤔 What you will need to know.**
Nothing. This issue is meant to welcome you to Open Source :) We are happy to walk you through the process.

**📋 Step by Step**

 _🙋 Claim this issue:_ Comment below. If someone else has claimed it, ask if they've opened a pull request already and if they're stuck -- maybe you can help them solve a problem or move it along!

 _📝 Mention_ your Google-Code in partic

[2019-10-16 20:22] vaibhavdaren opened #238 "GCI: Wiki"
### **Description of the problem**
_Describe the issue in detail_

### **How to solve**
_Explain the issue how it can be solved in detail with links if required_

### **Screenshot**
_Add necessary screenshot wherever required_

### **Expected Outcome**
_What will be the result_

[2019-10-16 20:23] vaibhavdaren opened #239 "GCI: Find new issues and report here following the issue template"
### **Description of the problem**
_Describe the issue in detail_

### **How to solve**
_Explain the issue how it can be solved in detail with links if required_

### **Screenshot**
_Add necessary screenshot wherever required_

### **Expected Outcome**
_What will be the result_

[2019-10-20 03:54] TG1999 commented on #235
Let me explain that since we are now using Vue as front end framework, what will happen now. The link that I have given in email will redirect the user to front end with the given parameters, then front end will send an axios request to backend to verify the given link and backend will send a message accordingly. After getting that message from backend front end will decide that will it allow user

[2019-10-20 16:27] Rupeshiya commented on #235
@TG1999 **This is the code where you are taking email for forgot password and then sending email to that user with a URL like http://localhost:3000/email/password and when user will click on that then from frontend axios request will be sent to the backend where you are checking for the user with that email and password if that exists then you are sending the success message else you are sending a

[2019-10-20 16:30] TG1999 commented on #235
Yes it's not implemented right now and that part is left for now,but you have said that I should have not send the message I should have redirected it instead of sending the message, so i explained it to you the current flow does not need to be changed it has to be expanded only.

[2019-10-20 16:31] TG1999 commented on #235
Their won't be any redirections from backend and we also can't now redirect from backend it all will happen at front end, if you can help in front end i can explain you what is to be done 😄

[2019-10-20 16:38] Rupeshiya commented on #235
That's why I changed the issue to fully implement that feature so that we can keep track of the features.

[2019-10-20 16:40] Rupeshiya commented on #235
When I will start working on the frontend side of this project then surely ping you. @TG1999

[2019-10-22 09:50] capedcrusader23 opened #240 "Rectification of code"
### **Description of the problem**
The status field in res.json()  in todo's controller is of no use.
### **How to solve**
Remove the field as now it is of no use.

### **Expected Outcome**
Add a status of 200 if the operation is successful.

[2019-10-22 17:37] Rupeshiya opened #241 "Implement automation testing"
### :thinking:  What you will need to know

### **Description of the problem**
_Add the automation testing_

## Requirements
1. Node.js
2. CI

## Step By Step :1234:
:raising_hand_man: Claim this issue: Comment below. If someone else has claimed it, ask if they've opened a pull request already and if they're stuck -- maybe you can help them solve a problem or move it along!

:memo:  Mention your G

[2019-10-22 18:33] Rupeshiya opened #242 "Add some PWA features"
### **Description of the problem**
_Add some PWA features like making it installable or working offline_

### **How to solve**
_Take permission from user to install the App and then install, for working in offline mode use caching strategy_

### **Screenshot**
_Add necessary screenshot wherever required_

### **Expected Outcome**
_Web app will behave as native app_

[2019-10-22 18:36] Rupeshiya opened #243 "Add manifest.json file for PWA"
### **Description of the problem**
_To implement the PWA feature there should be a manifest.json file_

### **How to solve**
Use the links given below as a references to start working. Basically PWA is a feature that make a web app to behave like a native app.
1. Get idea of PWA (https://codelabs.developers.google.com/codelabs/your-first-pwapp/#0)
2. How to add manifest.json (https://codelabs.deve

[2019-10-23 12:23] Rupeshiya opened #244 "Implement continous integration and test coverage"
### :thinking:  What you will need to know

### **Description of the problem**
_For now there are some unit tests but CI is not implemented which can trigger the tests_

### **Get idea about CI and implementation**
Add Continuous integration ( use Travis or Circle CI)

1. Reference to get idea of CI (https://www.atlassian.com/continuous-delivery/continuous-integration/how-to-get-to-continuous-inte

[2019-10-23 16:37] ayushnagar123 commented on #243
I guess we already have menifest.json in client/public in the development branch. Do we need any updates in that?

[2019-10-23 17:17] Rupeshiya commented on #243
@ayushnagar123 There are lots of things that need to be added in manifest.json but for since we are not focusing on PWA features so this issue needs to be fixed in future. For now you can work on the other issue.
Thanks for looking for issues to fix.

[2019-10-24 07:00] vaibhavdaren opened #245 "UI: bugs"
### **Description of the problem**

Find UI bugs in the application.

### **How to solve**
Run the donut application locally on your system and try to find out issues with the frontend.
Hint:-
1) try to resize the application. If it breaks then there is a problem with media queries. Report it as a issue with the  help of issue template.
2) check for validation of text fields in form.
### **Expecte

[2019-10-24 07:10] vaibhavdaren opened #246 "GCI: FAQ"
### **Description of the problem**
Find the most commonly asked questions and Answers to their solutions and also maintain a separate FAQ for DONUT.
[code]
### **How to solve**
1) goto slack and find the most frequently asked questions.
2) Learn how to solve them by reading comments.
3) Properly document them.

### **Expected Outcome**
Learn about code research and agile efficiency.

[2019-10-28 11:56] TG1999 opened #247 "Code the PDF and Email templates"
### :thinking: What you will need to know
Nothing. This issue is meant to welcome you to Open Source :) We are happy to walk you through the process.

### Code the PDF and email template
For now, the organization doesn't have any PDF and email templates, another issue has been opened up for designing the templates. If you want you can first design a template and then code it or code an existing de

[2019-10-28 11:59] TG1999 opened #248 "Design the PDF and Email templates"
### :thinking: What you will need to know
Nothing. This issue is meant to welcome you to Open Source :) We are happy to walk you through the process.

### Design the PDF and Email templates
Design PDF and Email templates using any Designing tools and send those designs here.

### Requirements
Basic Designing Skills
Creativity

### Step By Step :1234:
- 🙋 Claim this issue: Comment below. If someone

[2019-10-28 12:03] TG1999 opened #249 "Welcome email feature"
### :thinking: What you will need to know
Nothing. This issue is meant to welcome you to Open Source :) We are happy to walk you through the process.

### Welcome Email Feature
Send a welcome email whenever new user signup to DONUT platform. We have currently put designing tasks in GCI, In this task student have to trigger an email whenever the signup route is hit. Data of users will be entered in

[2019-10-29 14:10] arghac14 commented on #38
@sdsahib Can I work on this?

[2019-10-30 05:38] sdsahib commented on #38
@jaskirat2000 kindly guide the contributors..thanks

[2019-11-03 17:20] TG1999 opened #254 "Create some rate limiting middlewares"
### **Description of the problem**
Some of the routes need to be rate limited so that server don't experience too much load

### **How to solve**
Create some middlewares using different rate limiting algorithms which can be further added to routes

### **Expected Outcome**
Some better load management at server, which will also help to protect server from proxy requests.

[2019-11-03 17:20] TG1999 commented on #254
I will like to work on this issue, please assign it to me

[2019-11-09 23:11] ayushnagar123 opened #259 "Add last active time stamp"
### **:thinking: What you will need to know**
Nothing. This issue is meant to welcome you to Open Source :) We are happy to walk you through the process.

### **Add timestamp to the profile last login/is active or not.**

When you visit a user's profile page in the [development branch of Donut project](https://github.com/codeuino/Social-Platform-Donut/tree/development). You will discover that belo

[2019-11-09 23:31] ayushnagar123 opened #260 "Page not found issue on portfolio setup"
### **:thinking: What you will need to know**
Nothing. This issue is meant to welcome you to Open Source :) We are happy to walk you through the process.

### **Remove page not found on portfolio setup**
![image](https://user-images.githubusercontent.com/32647423/68536249-c470b880-0375-11ea-8e8f-7e7be90b1117.png)

### **Requirements**
Node.JS
Vuejs

### **Step By Step :1234:**

* :raising_hand_wom

[2019-11-10 07:57] #233 closed

[2019-11-10 08:12] sastava007 opened #261 "Adding Netlify Bot to preview deploys"
### **Description of the problem**
Implement a feature to preview deploys using Netlify Bot, this will help in maintaining continious integration and development. It will also help the mentors to review any front-end related PR more easily.

Before working on this issue, you should know what the hell in this world **Netlify** is and why do we even need it?
Netlify is hosting platform that provide

[2019-11-10 15:44] vaibhavdaren commented on #237
@ShubhamDogra112 do not reference the gci issues

[2019-11-10 15:45] sastava007 commented on #261
@vaibhavdaren It's a beginner frinedly issue as it doesn't need any such prerequisite so you can also add good-first issue label too.

[2019-11-10 15:49] #238 closed

[2019-11-10 17:08] TG1999 opened #262 "Making Dynamic PDFs"
### :thinking: What you will need to know
Nothing. This issue is meant to welcome you to Open Source :) We are happy to walk you through the process.

### Making Dynamic PDFs
We also have to send a thank you letter as an attachment with the email, designs of PDF is another task and writing their code in HTML and CSS is another. Here students have to enter the data dynamically into the HTML code of

[2019-11-12 09:41] #240 closed

[2019-11-16 12:42] jugshaurya commented on #249
can i take this issue ? I am looking for GSOC 2020 and new to open source in the way of contributing to others project . I think this can help me understanding opensource and contribute to GSOC

[2019-11-16 13:18] TG1999 commented on #249
This issue is for GCI students only, you can look for other issues that are not labelled as GCI.

[2019-11-18 11:26] TG1999 opened #263 "Designing Admin Dashboard"
### :thinking: What you will need to know
Nothing. This issue is meant to welcome you to Open Source :) We are happy to walk you through the process.

### Designing Admin Dashboard
Design a Admin Dashboard for Codeuino, The design should contain some basic buttons or sections like this.

- Button for Admins can add members to the community.
- Button for Blocking users ( Giving access to block peop

[2019-11-18 12:37] SiddharthSimharaju opened #264 "Logo for Donut Platform"
### **What you need to know**
- Basic logo principles and vague knowledge of tools used in graphic design.
- About the Donut Platform and what the platform is trying to achieve.

### **Requirements**
- Graphic Designing skills
- Familiarity with designing Softwares like GIMP, Inkscape (free) or Adobe Illustrator (paid)

### **Create a new logo for Donut Platform**
We want to design a logo for our

[2019-11-18 19:13] ayushnagar123 opened #265 "Setting up donut platform"
## **What you need to know**
Nothing. This issue is meant to welcome you to Open Source. We are happy to walk you through the process.

### **Setting up donut platform on your system**
It is discovered that many contributors who are new to the organization face issue in setting up donut platform on there system. This task will help you out in setting up donut platform.

### **Requirements**
Node.J

[2019-11-19 03:23] SiddharthSimharaju opened #266 "Improve the timeline design of Donut Platform"
### **What you need to know**
Basic Designing Skills and vague knowledge of tools used in the User Interface (UI) design.

### **Requirements**
- UI design skills
- Familiarity with designing Softwares like Figma, Invision(webapp/application) or Adobe XD(application)

### **Improve the timeline design of Donut Platform**
We want to redesign the Donut platform. Improve the overall design and revamp

[2019-11-19 03:40] SiddharthSimharaju opened #267 "Improve the UI design of the Profile, Login and Signup pages"
### **What you need to know**
Basic Designing Skills and vague knowledge of tools used in the User Interface (UI) design.

### **Requirements**
- UI design skills
- Familiarity with designing Softwares like Figma, Invision(webapp/application) or Adobe XD(application)

### **Improve the UI design of the Profile, Login and Signup pages**
We want to redesign the Donut platform. Improve the overall de

[2019-11-19 14:03] TG1999 opened #269 "Test the image controller"
### :thinking: What you will need to know
Nothing. This issue is meant to welcome you to Open Source :) We are happy to walk you through the process.

### Testing Image controller
Write unit test for image.controller.js file inside server/controller
In this task, you are supposed to write a test case for checking the functionality of the ppResize function. To start with this you need to make use o

[2019-11-20 09:16] TG1999 opened #272 "Design schema for tags"
### :thinking: What you will need to know
Nothing. This issue is meant to welcome you to Open Source :) We are happy to walk you through the process.

### Schema for tags
Design a mongodb schema for tags, For understanding idea of tags go to https://github.com/codeuino/GSOC-GSOD/wiki/GSOC-2019-Ideas and see idea number 2.

### Requirements
Critical Thinking
Schema Designing

### Step By Step :1234

[2019-11-26 15:12] TG1999 opened #273 "Provide loopholes inside documentation"
### :thinking: What you will need to know
Nothing. This issue is meant to welcome you to Open Source :) We are happy to walk you through the process.

### Provide loopholes inside documentation
Try to setup DONUT on your system with the help of mentors, then see what steps are missing or wrongly written inside the documentation.
The steps should be valid and relevant for this task to be accepted.

[2019-12-03 14:21] TG1999 opened #274 "Write a middleware to know if the person who is trying to access Dashboard is an admin or not"
### :thinking: What you will need to know
Nothing. This issue is meant to welcome you to Open Source :) We are happy to walk you through the process.

### Write a middleware to know if the person who is trying to access Dashboard is an admin or not
Write a middleware for the following inside server/controller/authcontroller.js
Basically, you have to write a mongo query to check that the current pe

[2019-12-03 14:29] #274 closed

[2019-12-04 10:06] sastava007 opened #275 "Design a 404 Page for invalid URL paths"
### **Description of the problem**
Design a 404 page for dealing with invalid URL paths, currently when a page is not found it simply redirects to a blank page with just DONUT navbar.

### **Prerequisites**
Adobe Illustrator/Photoshop
Vue.js
Basic JS

### **How to solve**
Sounds too complicated?Let’s focus in.
First of all, you should set up the project on your end and for that follow the steps me

[2019-12-04 10:09] sastava007 commented on #275
@vaibhavdaren Please review and add GCI tag.

[2019-12-05 17:04] sastava007 opened #276 "Auto login user after registration"
### **Prerequisites**
- NodeJs
- Authentication using PassportJs
  Don't worry if you are not familiar with Passport, [here's ](https://www.youtube.com/watch?v=6FOq4cUdH8k)a great tutorial to start with.

### **Description of the problem**
Auto-login is quite a popular feature currently used by almost every social networking site from Facebook to Reddit.
So now coming to what the problem demands,

[2019-12-05 17:05] sastava007 commented on #276
@vaibhavdaren
@jaskirat2000
Please review!

[2019-12-11 19:35] sastava007 opened #278 "Make the Create Post, Create Project, Create Event modals responsive"
### **Description of the problem**
Currently, the **Create Post**, **Create Project** and **Create Event** modal forms of Donut platform are not responsive. The modals are not responsive for mobile or any other such small-screen devices because of which user need to scroll till down to access the content and buttons are also going hither and thither.

### **Prerequisites**

- CSS
- Basic fundament

[2019-12-28 19:05] saksham93 commented on #261
I wish to work on this issue.
/assign

[2019-12-29 19:40] sastava007 commented on #261
@saksham93
Thanks Saksham, for showing interest in contributing to Donut platform. But this task is meant only for GCI'19 students, feel free to choose any other task which is not labelled as GCI.

[2020-01-13 00:45] harsh253 commented on #276
Hello @sastava007 , I think the discord link is not working and when I am trying to connect to slack, it says **Contact the workspace administrator for an invitation**.
How can I reach to the mentors ?
Actually , I have some doubts regarding this issue and would like to clear them.
Thanks in advance.

[2020-01-14 12:14] sastava007 commented on #276
@harsh253 Just visit slack.codeuino.org and register your email, you'll receive an invite link in your mail.

[2020-01-16 06:48] tanujvyas10 commented on #278
@sastava007 should i work on this?

[2020-01-16 06:55] sastava007 commented on #278
@tanujvyas10 Sorry, but this task is meant for GCI students.
Feel free to find other open issues.

[2020-01-16 06:57] tanujvyas10 commented on #278
@sastava007  actually there was not any GCI mentioning on this issue that's why I asked . Its fine I will find any other . Thank you :)

[2020-01-21 18:57] rajkharvar commented on #273
while following the documentation to run the project locally `package.json` file actually exists on the `master` branch. When I checkout to `development` branch `package.json` file actually disappeared which in turn I was not able to run it locally for development.

Should I fork and repo and install the dependencies when on the `master` branch and commit the result on the `development` branch and

[2020-01-24 18:39] amanbora commented on #86
I would like to contribute on this issue. Is it still active?

[2020-01-24 18:46] amanbora commented on #88
Is the issue still on? I could work on it. Please assign it to me if its available.

[2020-01-24 18:46] jaskirat2000 commented on #88
Sure go ahead. Please

On Sat, 25 Jan 2020, 12:16 am Aman Bora, <notifications@github.com> wrote:

[2020-01-24 18:47] jaskirat2000 commented on #86
Sure. You can

On Sat, 25 Jan 2020, 12:09 am Aman Bora, <notifications@github.com> wrote:

[2020-01-24 18:59] amanbora commented on #86
@jaskirat2000 thanks, are there any more specifics of the issue?

[2020-01-24 19:05] amanbora commented on #86
<img width="908" alt="Screenshot 2020-01-25 at 12 33 20 AM" src="https://user-images.githubusercontent.com/33185170/73096290-739b4580-3f0a-11ea-9d5e-4f7b28bab733.png">
The `credential.js` seems missing

[2020-01-25 17:26] amanbora commented on #86
Okay, I think I cloned the wrong repo.

[2020-01-27 21:24] kg-kartik commented on #242
Can i work on this?

[2020-02-07 18:09] theprover97 commented on #275
Hey @sastava007 , can I work on this if it is not tagged for GCI?

[2020-02-07 18:18] theprover97 commented on #267
Hey @SiddharthSimharaju , can I now work in this as GCI has ended?

[2020-02-07 18:19] theprover97 commented on #263
Hey @TG1999 , I would like to work on this.

[2020-02-07 22:06] theprover97 opened #290 "Refactor README.md for Client & Server in development branch"
### 1) Non-Indented Steps
Steps mentioned in both the README files of 'client' and 'server' are put in a paragraph and
hence become confusing.

###  2) Order of Vapid Key generation
Link for Vapid Key generation should be mentioned after the step of 'npm install' .

### What to do?
Position the steps properly in new lines, and also check their ordering.

[2020-02-08 05:06] #2 closed

[2020-02-09 12:43] rohit645 opened #293 "Box height in Login/Sign Up form should change dynamically."
### **Describe the bug**
When clicking on signup form, the box height is not changing accordingly, as a result, content of signup form goes out of signup box.

### **Where was the bug observed**
When you run the project using `npm start` and click on signup form option.

### **Screenshots**
![Screenshot from 2020-02-09 18-04-57](https://user-images.githubusercontent.com/33249010/74102148-dfb2b600-

[2020-02-09 12:53] rohit645 opened #294 "Duplicate entries for Email in signup form."
### **Describe the bug**
User Email has been asked two times in signup form.

### **Where was the bug observed**
When you run the project using `npm start` and click on signup form Tab.

### **Screenshots**
![Screenshot from 2020-02-09 18-07-16](https://user-images.githubusercontent.com/33249010/74102381-0d98fa00-4b69-11ea-9137-6a65da47c98b.png)

### **Expected Outcome**
![Screenshot from 2020-02-

[2020-02-09 13:08] harsh253 opened #295 "Upcoming events section of dashboard page needs improvement"
### **Description of the problem**
The content of the **Upcoming Events** section of the dashboard page is incomplete as of now as per the given design and needs to align with the given design.
Currently, it looks as shown below
### **Screenshot**
![Screenshot from 2020-02-09 18-31-52](https://user-images.githubusercontent.com/32335320/74102564-a0866400-4b6a-11ea-8360-fc6acc070096.png)

### **Expe

[2020-02-09 13:14] devesh-verma commented on #293
This has been already fixed.
Hence closing the issue.

[2020-02-09 13:14] #293 closed

[2020-02-10 13:47] amanbora commented on #294
I've made a pull request #299 regarding this issue.

[2020-02-10 13:57] amanbora commented on #276
Can I work on this issue?

[2020-02-10 14:05] amanbora commented on #275
Is this issue available?

[2020-02-10 14:57] amanbora commented on #88
Pls refer pull request #300

[2020-02-11 15:00] #260 closed

[2020-02-11 15:00] #294 closed

[2020-02-18 18:21] #242 closed

[2020-02-18 18:21] #243 closed

[2020-02-18 18:21] #245 closed

[2020-02-18 18:21] #246 closed

[2020-02-18 18:21] #247 closed

[2020-02-18 18:21] #248 closed

[2020-02-18 18:21] #254 closed

[2020-02-18 18:21] #259 closed

[2020-02-18 18:21] #261 closed

[2020-02-18 18:21] #262 closed

[2020-02-18 18:21] #263 closed

[2020-02-18 18:21] #264 closed

[2020-02-18 18:21] #265 closed

[2020-02-18 18:21] #266 closed

[2020-02-18 18:21] #267 closed

[2020-02-18 18:21] #269 closed

[2020-02-18 18:21] #272 closed

[2020-02-18 18:21] #273 closed

[2020-02-18 18:21] #278 closed

[2020-02-18 18:21] devesh-verma commented on #275
fixed by #305

[2020-02-18 18:21] #275 closed

[2020-02-18 18:22] #130 closed

[2020-02-18 18:22] #135 closed

[2020-02-18 18:22] #136 closed

[2020-02-18 18:22] #146 closed

[2020-02-18 18:22] #154 closed

[2020-02-18 18:22] #164 closed

[2020-02-18 18:22] #219 closed

[2020-02-18 18:22] #221 closed

[2020-02-18 18:22] #228 closed

[2020-02-18 18:22] #237 closed

[2020-02-18 18:22] #239 closed

[2020-02-18 18:23] devesh-verma commented on #295
fixed by #307

[2020-02-18 18:23] #295 closed

[2020-02-18 18:25] #94 closed

[2020-02-18 18:25] #101 closed

[2020-02-18 18:25] #102 closed

[2020-02-18 18:25] #111 closed

[2020-02-18 18:25] #125 closed

[2020-02-18 18:25] #80 closed

[2020-02-18 18:25] #82 closed

[2020-02-19 08:54] AuraOfDivinity commented on #249
I'd like to work on this issue.

[2020-02-19 09:19] jaskirat2000 commented on #249
Sure go ahead.

[2020-02-20 16:13] harshithpabbati commented on #235
Can I work on this issue ?

[2020-02-20 16:37] Rupeshiya commented on #235
@harishchennupati I have already implemented this feature in a PR but it is closed by @devesh-verma .Don't know why.
cc @devesh-verma Please update him

[2020-02-21 18:14] JanviMahajan14 opened #316 "Create a pop up to display new project info"
On clicking the button project in the dashboard page a pop needs to be displayed on the page.
I am working on this issue.

[2020-02-21 18:34] jaskirat2000 commented on #316
Awesome. Go ahead

[2020-02-21 18:35] jaskirat2000 commented on #316
Make sure you follow the design guidelines. If you need any icons and other things let Siddharth knows about it.

[2020-02-21 19:01] JanviMahajan14 commented on #316
Sure @jaskirat2000

[2020-02-22 04:53] theprover97 opened #317 "Create Pop up for displaying and editing Profile Info"
Based on the designs released on Figma, we will be creating new Pop-ups for :-
1. Editing Profile
2. Displaying Followers List
3. Adding a Logout option.

[2020-02-22 04:53] theprover97 commented on #317
I will like to work on this issue.

[2020-02-22 04:59] jaskirat2000 commented on #317
Sure go ahead.
Anyway here are those designs https://www.figma.com/file/iZvb7rLYRp3Di3wILVQ7V9/CodeUino-Donut?node-id=0%3A1

[2020-02-22 06:15] rak-shit opened #319 "Create Pop up to add a new event."
**Description of the problem**

When the event button on dashboard is clicked a pop up must open which asks about the details of the new event to be created.

Presently the buttons do not preform any action.

[2020-02-22 06:15] rak-shit commented on #319
I am working on this issue.

[2020-02-22 06:47] harsh253 opened #320 "Improvement of the feed section of the dashboard page"
Currently **news feed** in the dashboard page has card like elements which is in a very raw form. This section needs improvement to align with the given designs.
Right now it looks as shown below :

**Screenshot**
![Screenshot from 2020-02-22 12-14-49](https://user-images.githubusercontent.com/32335320/75087983-f399e700-556c-11ea-9770-bb643f2516f7.png)

**Expected Outcome**
![Screenshot from 2020-

[2020-02-22 06:49] harsh253 commented on #320
I would like to work on this issue.

[2020-02-22 06:56] harshithpabbati opened #321 "Integrate 3rd party authentication"
Redesign login and sign up forms according to the designs in figma

https://www.figma.com/file/iZvb7rLYRp3Di3wILVQ7V9/CodeUino-Donut?node-id=0%3A1

[2020-02-22 06:56] harshithpabbati commented on #321
I would like to work on this

[2020-02-22 08:16] jaskirat2000 commented on #320
Sure hi ahead. Make sure all the colors remain same

[2020-02-22 08:17] harsh253 commented on #320
Sure.

[2020-02-22 08:41] jaskirat2000 commented on #321
I think only color changes required rest are fine. The current one looks much better

[2020-02-22 08:48] harshithpabbati commented on #321
Oh okay. Then I will integrate login with google, github

Ok ? @jaskirat2000

[2020-02-22 08:49] jaskirat2000 commented on #321
Sure. Sounds good.

[2020-02-22 09:17] harsh253 commented on #321
Hi @harshithpabbati. I think integration with github and google will be taken care of in the backend repository. I would suggest you to discuss this with @devesh-verma as well.

[2020-02-22 18:55] JanviMahajan14 commented on #317
Hi @theprover97 If you don't mind Can i work on a pop up to display followers list as already you are working on two other pop ups to display edit profile info and logout feature?

[2020-02-22 19:42] JanviMahajan14 opened #323 "Redesign of organisation page"
Currently organisation page don't have much of the functionality so I would like to improve it.
**Current page:**
![Screenshot from 2020-02-23 01-10-24](https://user-images.githubusercontent.com/46385227/75098190-31345980-55d9-11ea-9c78-f444686d4e29.png)
**Expected outcome:**
![Web 1920 – 22](https://user-images.githubusercontent.com/46385227/75098202-5923bd00-55d9-11ea-9ab6-8f0be3c998fe.jpg)

[2020-02-22 19:43] JanviMahajan14 commented on #323
I would like to work on this issue.

[2020-02-23 04:04] jaskirat2000 commented on #323
Interesting. Go ahead

[2020-02-23 11:32] theprover97 commented on #317
@jaskirat2000 , is the DB schema ready so that we may also add backend integration with the fields.

[2020-02-23 21:52] harsh253 opened #326 "Improvement of the pinned posts page"
Currently the **Pinned Posts** page looks as below and needs to align with the given designs.
**Current State**
![Screenshot from 2020-02-24 03-20-09](https://user-images.githubusercontent.com/32335320/75120837-97da7580-56b4-11ea-81cb-281c3d893c51.png)

**Expected Outcome**
![Screenshot from 2020-02-24 03-20-55](https://user-images.githubusercontent.com/32335320/75120846-b04a9000-56b4-11ea-8da6-b5

[2020-02-24 01:37] harsh253 commented on #323
Hi @JanviMahajan14 . Are you also working on the pinned post section of this page ? I have actually worked on the feed section of the dashboard page and that same piece of code can be used here and similarly at all such places where posts are required.

[2020-02-24 01:44] harsh253 commented on #326
I am closing this issue because this improvement is actually dependent on an other issue https://github.com/codeuino/social-platform-donut-frontend/issues/323 which has already been opened

[2020-02-24 01:44] #326 closed

[2020-02-24 07:48] theprover97 opened #327 "Enhancement of User Profile Page"
Description

Current Profile page doesn't contain the Profile Description column. Also the settings icon is missing.

Current:-
![Screenshot from 2020-02-24 13-23-34](https://user-images.githubusercontent.com/43466272/75135947-1a8d2000-5709-11ea-97a6-f56c1cce0909.png)

After enhancement:-
![Screenshot from 2020-02-24 13-24-01](https://user-images.githubusercontent.com/43466272/75135971-2e388680-57

[2020-02-24 08:01] theprover97 commented on #327
@jaskirat2000 I am working on this.

[2020-02-24 08:34] theprover97 commented on #317
@JanviMahajan14 , I am collectively working on the 3 popups, so I would like to ask you to let me complete them. If I face any problems then I will forward these to you. Thanks!

[2020-02-24 12:27] JanviMahajan14 commented on #323
@harsh253 Currently i am working on the other parts present in the org page as you can see in the designs and the component under about us section
![Web 1920 – 23](https://user-images.githubusercontent.com/46385227/75152340-cc8b1300-572e-11ea-98a9-2bac1bb38ff8.jpg)

Once your code is merged we can you that for pinned section. For now let me work on this issue and you can search for some other issu

[2020-02-24 12:42] harsh253 commented on #323
Yeah sure @JanviMahajan14 . Thanks for letting me know.
Actually the sections like 'Donuts', 'Projects' and 'Events' , they are all a kind of filter which would filter posts from pinned posts section. So maybe you could leave the 'Donuts', 'Projects' and 'Events' part and work on other sections like 'About Us' and Contact section.

[2020-02-24 14:03] harsh253 opened #328 "Improvement of the side navigation bar"
Currently, the sidebar scrolls up as we scroll down any page and this disturbs the look of the page.
**Current State**
![Hnet com-image](https://user-images.githubusercontent.com/32335320/75158354-ed0d9a00-573b-11ea-9c0b-bab6dcc8777b.gif)

As can be seen from above gif that the sidebar also scrolls when the page is scrolled down.

**Expected Outcome**
The sidebar should remain fixed at all times s

[2020-02-25 15:08] harshithpabbati opened #331 "Fix page not found issue with netlify and react-router"
You will not be able to view the non-root pages

example: https://deploy-preview-330--donut-frontend-r.netlify.com/dashboard

This will be helpful to review the PR's

[2020-02-25 15:52] harshithpabbati opened #334 "Make donut platform mobile responsive"
At present it looks like this in mobile screens

![Screenshot_20200225-210003_Chrome](https://user-images.githubusercontent.com/43822585/75264090-e30b9a00-5814-11ea-92ba-09e906194ecc.jpg)

Need to make it mobile responsive

[2020-02-26 15:47] Rupeshiya opened #335 "Create a setting page for a user"
**Present scenario**
As of now, there is no setting page,

**Deliverables:**
so create a setting page where users will have options similar to the Facebook settings page (for reference).

**Working on it.**

[2020-02-26 16:18] theprover97 opened #336 "Improve the Organizations Page"
The current Organizations page does not adhere to the design on Figma. We need to add new features for this.

[2020-02-26 16:34] theprover97 opened #337 "Add popups to Organizations page"
The goal is to add new popups suitable for the Organizations page. We will be starting with following popups:-
1. Community Followers popup
2. Organization Edit popup.

The designs will be same as those on Figma, with change in the data fields.

[2020-02-26 16:39] theprover97 commented on #337
I will work on this.

[2020-02-26 16:39] theprover97 commented on #336
I will be working on this.

[2020-02-26 16:45] AuraOfDivinity opened #338 "Issues pertaining to the sidebar."
**Current issues**

1. The current sidebar is unresponsive and acts weirdly on mobile views obstructing half of the user's viewport in most cases.

2. In the current iteration of the application, the navbar is simply imported into and rendered in multiple files. This should not be the case. The navigation needs to be consistent across the whole application. As it appears on all pages and since it

[2020-02-27 04:52] #336 closed

[2020-02-27 07:21] DantrazTrev opened #339 "The title of the the page"
I don't know if this issue already exists but the title of the homepage is React App
![image](https://user-images.githubusercontent.com/43457420/75421189-b31cdd80-595f-11ea-810d-9c364804f972.png)
It would be much more useful to have the title as Donut or have dynamic titles

[2020-02-29 06:18] tanujvyas10 opened #344 "Big gap between "settings" and other side-nav elements"
**Current Issue**
The setting option in side-nav is too much below w.r.t. other elements in side-nav.
![coduino-front](https://user-images.githubusercontent.com/48439116/75602295-cbb8ff00-5ae9-11ea-9d78-430a16c306e9.jpg)

**Expected solution**
The setting option should be in a group with other elements within the side-nav

**If the issue is valid, I would like to work on this issue**
@devesh-verma

[2020-02-29 06:51] tanujvyas10 opened #345 "The title "Organization updates" is scrolling down along with the update list."
**Current Issue**
The title "Organization updates" is scrolling down along with the updates list.
![ezgif com-video-to-gif (1)](https://user-images.githubusercontent.com/48439116/75602727-b8a82e00-5aed-11ea-8e27-5d3966b946c1.gif)

**Expected outcome**
The title "Organization updates" should be fixed when scrolling down the organization updates list

**If the issue is valid , I would like to work o

[2020-02-29 09:37] jaskirat2000 commented on #344
Okay sure

[2020-02-29 10:38] jaskirat2000 commented on #345
Great

[2020-02-29 10:41] tanujvyas10 commented on #345
sir, i have a PR , please review my work

[2020-02-29 10:48] jaskirat2000 commented on #345
@devesh-verma needs to approve it once then only it will be merged

[2020-02-29 12:35] devesh-verma commented on #344
@tanujvyas10 this is intentional.

[2020-02-29 12:35] #344 closed

[2020-02-29 12:36] devesh-verma commented on #345
@tanujvyas10 always refer the issue number in your PR.

[2020-02-29 12:46] tanujvyas10 commented on #345
Sir, I have already written "Fixes #345", But I should have written it more precisely. I will keep this in mind in the upcoming PRs.

[2020-03-02 15:41] AuraOfDivinity opened #349 "Google Calendar Integration - Frontend"
Implement the frontend functionalities required for the google calendar integration.

[2020-03-03 16:21] #319 closed

[2020-03-03 16:22] rak-shit commented on #319
Solved

[2020-03-03 17:16] rak-shit opened #352 "Changing the signup page to Material UI framework."
![Screenshot 2020-03-03 at 10 45 42 PM](https://user-images.githubusercontent.com/30564496/75801192-bc171000-5da0-11ea-9792-a614d854ef53.png)

I am working on this.

[2020-03-03 17:22] jaskirat2000 commented on #352
Okay. I am assuming this will be added on trello board by @Rupesh or by you whosoever gonna maintain for your ease.

[2020-03-04 15:37] theprover97 opened #353 "Integrating Jitsi-Meet for Video Conferencing"
Integrating Jitsi Meet into Codeuino using the JitsiMeetAPI.

[2020-03-04 15:37] theprover97 commented on #353
I am working on this.

[2020-03-04 15:42] devesh-verma commented on #353
@theprover97 please share how you are planning to do this.

[2020-03-04 18:42] capedcrusader23 opened #356 "Forget password front end"
The forget password functionality has been added in backend.Create a front-end flow for the same.
![Screenshot 2020-03-05 at 12 08 49 AM](https://user-images.githubusercontent.com/37747717/75911410-8728bd00-5e75-11ea-8a99-2b0b2d6686cf.png)

The url to be pushed in history will be auth/reset?queryparams.
the above url will give if the link of password reset is valid or not.
If valid redirect to pag

[2020-03-04 21:11] Rupeshiya opened #357 "Settings menu is hidden behind logout Icon in dashboard."
To check go to /settings route and check that both log out and settings icons are overlapping over each other.
**NEED TO BE FIXED**

[2020-03-07 18:54] harsh253 opened #362 "Integrating Discourse into the platform"
The donut platform will have a discourse app integrated into the plaform itself which will fetch data from the organization's discourse channel.

I am currently working on this issue.

[2020-03-08 05:20] tanujvyas10 commented on #357
hey @Rupeshiya , I would like to work on this

[2020-03-08 07:23] Rupeshiya commented on #357
Yes, you can go aheah @tanujvyas10.

On Sun, 8 Mar 2020, 10:50 am tanujvyas10, <notifications@github.com> wrote:

[2020-03-08 07:28] tanujvyas10 commented on #357
@Rupeshiya hey, I was trying to sync the frontend master repo with my local repo but its not synchronizing .Did you face any problem like this ?

[2020-03-08 08:00] Rupeshiya commented on #357
@tanujvyas10 Only thing you have to do is to update your local branch with development branch not master.
you can run this to update your local branch code with development branch code:
[code]

[2020-03-08 08:17] tanujvyas10 commented on #357
@Rupeshiya I just did that, now it is showing
**This branch is 2 commits ahead, 6 commits behind codeuino:master.**

[2020-03-09 20:40] meyash opened #367 "Popups add unncessary right padding in background"
Reproduce :
Open any popup field : Unncessary padding will be added to background page

Operating system :
Windows

Browser:
Chrome

Gif :
![bug](https://user-images.githubusercontent.com/21121279/76254231-1ff27a80-6272-11ea-86b8-c11cd5dbf13d.gif)

[2020-03-12 19:07] tanujvyas10 commented on #356
@capedcrusader23  I would like to work on this issue, if you are not working

[2020-03-13 20:22] Rupeshiya opened #371 "Add material design in the existing popups"
**Description:**
As of now, we are using react-bootstrap, replace the effect of bootstrap with material design

**Additional context**
Working on it.

[2020-03-14 18:15] tanujvyas10 commented on #356
@devesh-verma @jaskirat2000 @vaibhavdaren Since the issue creator did not respond to my request, Can I take this issue?

[2020-03-15 06:40] capedcrusader23 commented on #356
you can work on this issue @tanujvyas10

[2020-03-15 06:43] tanujvyas10 commented on #356
thank you sir

[2020-03-16 18:17] Rupeshiya opened #373 "Add popup for the organisation profile edit"
**Current scenario:**
As of the only button is there to edit

**Expected output:**
A popup should be there for editing the organization profile info use material design.

**Additional context**
Working on it.

[2020-03-22 06:10] Rupeshiya opened #375 "Add the updated fields in the signup page"
**Present scenario:**
As of now only, there is an email and password field for registering the user
Look at the backend repo database for user to get register and add those fields.

**Expectation:**
The signup page should have updated fields

[2020-03-22 06:17] Rupeshiya commented on #337
@theprover97 What's the status?
Are you working on this?

[2020-03-22 09:23] tanujvyas10 commented on #375
@Rupeshiya , I would like to work on this

[2020-03-22 09:41] Rupeshiya commented on #375
ok, but make sure you use material design also look at the database schema and also routes to create the user.
You can go ahead.

[2020-03-22 09:43] tanujvyas10 commented on #375
@Rupeshiya sure, thanks

[2020-03-28 08:00] Rupeshiya opened #383 "Setup redux and integrate backend with frontend"
**Present scenario:**
As of now, frontend is not integrated with backend so frontend is not functional

**Expected outcome:**
After integration of backend with frontend, the frontend should be functional like the user will able to register and log in.

**Additional context**
Working on it.

[2020-04-02 05:39] Rupeshiya opened #385 "Implement UI part for the organisation"
**Present Scenario**
As of now, there is no UI for adding an organization's information.

**Expected outcome:**
Add popup to add organization information.

**Additional context:**
Please check the schema for the required input fields.

[2020-04-02 06:46] tanujvyas10 commented on #385
@Rupeshiya are u working on this?
if not then I would like to work on this

[2020-04-02 06:56] DevanshCodes opened #386 "UI for the Organisation tab"
Currently the UI of Organisation looks like this:
![image](https://user-images.githubusercontent.com/48180687/78219382-09d88280-74dd-11ea-845f-1ca33144736d.png)
And the UI for the Organisation tab should look like:
![image](https://user-images.githubusercontent.com/48180687/78219410-1b218f00-74dd-11ea-904e-9b78da1ab20d.png)

Assigned: I want to work on this.

[2020-04-02 07:11] Rupeshiya commented on #385
Sure @tanujvyas10 But just keep in mind to use material-UI also look at the required fields from backend repo.

[2020-04-02 07:12] tanujvyas10 commented on #385
very well thanks

[2020-04-02 10:40] Rupeshiya commented on #385
@tanujvyas10  On another part of UI for organization @DevanshCodes  is working in another issue ( #386 ), so you both can sync with each other for no conflicts and better implementation
as of now, you can add the button in the organization page itself for popups and later on after @DevanshCodes  is done with the org tab, then we just need to add that button on the updated organization tab.

[2020-04-02 10:42] tanujvyas10 commented on #385
great

[2020-04-02 16:52] Rupeshiya commented on #385
Closing this issue as merged with #387

[2020-04-02 16:52] #385 closed

[2020-04-02 21:08] AuraOfDivinity opened #388 "Refactor Frontend Components."
**Description**
The frontend components of the donut platform need to be refactored as some of them are not in line with React best practices.

**Additional Context**
I'll be working on this issue.

[2020-04-02 21:22] tanujvyas10 opened #389 "Implementation of UI for entire Projects domain"
**Current Scenario**
Currently, there is no UI for projects domain

**Expected results**
Create the UI for all the functionalities belong to **projects** domain.
This includes the following:
- Dedicated page for projects showing all the projects in cards format(for brief details of each project)
- Popper for creating the new project(trigger via button)
- Popper for editing any project
- Popper whe

[2020-04-03 11:58] harsh253 commented on #327
@theprover97 are you still working on this or may I take up this issue ?

[2020-04-03 12:06] harsh253 commented on #389
Please describe the issue. What do you mean by projects domain ?

[2020-04-03 13:02] theprover97 commented on #327
No, I am not working on this currently. You can go ahead and work on it.

On Fri, Apr 3, 2020, 17:28 Harsh Jaiswal <notifications@github.com> wrote:

[2020-04-03 14:35] harsh253 opened #392 "Organization Updates section of Dashboard page needs improvement"
**Current Scenario**

![org_update](https://user-images.githubusercontent.com/32335320/78371548-bf8ef880-75e5-11ea-971a-c340134454cf.png)

**Expected Outcome**
![Screenshot from 2020-04-03 18-51-24](https://user-images.githubusercontent.com/32335320/78365065-27404600-75dc-11ea-8604-caad1fa923d2.png)

[2020-04-03 15:53] harsh253 commented on #327
Sure. Thanks for the reply @theprover97 :) . I'll take up this issue then.
@jaskirat2000 , could you please assign this to me ?

[2020-04-03 18:38] tanujvyas10 opened #394 "Logo of Organization is not available at its landing page"
**Current Situation**
When the user re-direct to the organization page, it doesn't have any logo/icon along with other details of the organization
![image](https://user-images.githubusercontent.com/48439116/78394829-fbd45000-7609-11ea-8f73-30ae8644c772.png)

**Expected Outcome**
The Logo should be present at organization page
![image](https://user-images.githubusercontent.com/48439116/78393912-507

[2020-04-03 19:07] tanujvyas10 opened #396 "Unnecessary close button in pop-ups of settings"
**Current scenario**
In the pop-ups of setting, the close-button is present which is nothing more than a redundancy because closing the pop-up can be done by the cross icon at the top-right corner of all the pop-ups
![image](https://user-images.githubusercontent.com/48439116/78396052-42c34500-760c-11ea-9deb-f19a634a9de0.png)

![image](https://user-images.githubusercontent.com/48439116/78396087-524

[2020-04-03 20:42] Rupeshiya commented on #394
Already implemented by @DevanshCodes in #390
So @tanujvyas10 Please close this issue

[2020-04-04 03:04] theprover97 commented on #327
@harsh253 I am working on improving the pinned posts section to Material-UI. You can add the profile description and improve the display profile part, but please do so using Material-UI.

[2020-04-04 07:02] harsh253 commented on #327
Ok. @theprover97 Just a suggestion. You can take up the pinned post section code from news-feed section of dashboard to maintain the same code throughout.

[2020-04-04 16:42] #394 closed

[2020-04-04 17:30] tanujvyas10 opened #399 "Adding Pop-up for comment in news-feed section"
**Current scenario**
Currently, there is no UI for the comment section when the user click on comment icon of any news-feed.
![image](https://user-images.githubusercontent.com/48439116/78457500-3c929e80-76c8-11ea-8159-fe153814d6e4.png)

**Expected Outcome**
A pop-up should come on the screen when clicking on the comment icon so that now the user can comment on this. This pop-up will also include t

[2020-04-05 07:30] DevanshCodes opened #401 "Implementing the Pop-Up for adding new Project"
Currently there's no pop-up when clicked on Project button on Dashboard, there should be a pop-up on clicking that button. Hence, implementing that.

![image](https://user-images.githubusercontent.com/48180687/78469293-6cc85480-773d-11ea-9192-df41d7e40d96.png)

Working on it.

[2020-04-05 07:34] tanujvyas10 commented on #401
@DevanshCodes hey, i am already working on this

[2020-04-05 07:38] #401 closed

[2020-04-05 10:05] AuraOfDivinity opened #402 "Refactor Frontend css"
**Issue**
The frontend CSS is fragmented and is disorganized and requires refactoring.

**Additional Context**
I'll be working on this issue.

[2020-04-06 13:59] harsh253 opened #403 "Feature to search and follow other members of the organization"
**Problem**
Currently, in the donut platform we do not have the ability to search any member of the organization, neither can we follow them until and unless they have followed us before hand. Also, we can't view a member's stats like posts made my them, number of projects they are involved in, events attended by them etc. This is an important aspect of any social platform to promote interactivity

[2020-04-07 09:04] Rupeshiya commented on #403
@harsh253 Sounds good!
But instead of it should be an invitation button so that admin can directly invite from there itself.

[2020-04-07 14:36] harsh253 commented on #403
@Rupeshiya thanks for the feedback.
Here, I am considering that the members shown in the **Members list** are those users who have been already invited by the admin to join the community.
Also I think that adding an invitation button in the platform doesn't add much value here rather it should be present in the admin panel, right ?

[2020-04-07 14:43] Rupeshiya commented on #403
oh, @harsh253 I was thinking that if the user who logged in is an **admin** then there should be an **invite button**, else it should be **follow** button for the **other** members.

[2020-04-07 14:48] harsh253 commented on #403
I get your point @Rupeshiya . But the thing is that the admin portal will already be having the feature to invite users to community and that portal will be specifically be designed for purpose like these. So that's why I think , we should leave this feature (invite feature) specific to admin panel.
Please let know your thoughts on this

[2020-04-07 14:55] Rupeshiya commented on #403
I agreed @harsh253 but as this organization page will be common for both users as well as admin except some right which admin will have for that page. so I thought that.
@jaskirat2000 Please let us know your thoughts.

[2020-04-07 15:05] harsh253 commented on #403
Yup, you are right. Let's have @jaskirat2000 @vaibhavdaren and @devesh-verma's views on this as well once

[2020-04-08 09:22] rak-shit opened #405 "Dashboard landing page conversion to MaterialUI"
**Description**

Convert the dashboard landing page into MaterialUI

**Additional Context**

Working on it

[2020-04-08 14:08] theprover97 commented on #405
@rak-shit I am currently working on converting the pinned-posts/news-feed to Material-UI. You can leave that part to me.

[2020-04-08 19:23] rak-shit commented on #405
Sure :)

[2020-04-09 14:06] theprover97 commented on #405
@rak-shit I have updated the Pinned-Posts and Updates section to Material-UI in PR #408 , you can use those components here.

[2020-04-09 14:11] rak-shit commented on #405
@theprover97, seems like the conversion of dashboard to Material-UI is taken care. There is a PR for navigation already, the pinned-posts page and account page is taken care by you and there is another PR related to the org page. Is there anything left?

[2020-04-09 14:19] theprover97 commented on #405
Yeah, we have the following components to be improved:- Notifications, Portfolio and Upcoming-Events. You can convert those, and bundle up all other components as well.

[2020-04-09 14:21] rak-shit commented on #405
Okay, thanks for letting me know. I’ll be on it now :)

[2020-04-09 14:21] theprover97 commented on #405
Sure. Keep up the work!

[2020-04-09 14:45] theprover97 opened #409 "Add Filter function to Pinned-Posts"
The Pinned-Posts carry various tabs listed as 'All', 'Donuts', 'Events' and 'Projects'. We need to add a Filter function such that various tabs listed the posts of that type.

[2020-04-09 14:45] theprover97 commented on #409
I will be working on this issue.

[2020-04-09 16:37] rak-shit opened #410 "UI for Upcoming Events in Material-UI"
Changing the UI for upcoming event component into Material-UI

**Working on it**

[2020-04-09 16:39] tanujvyas10 commented on #410
Hey,@rak-shit I am Already working on this
 #389

[2020-04-09 16:40] tanujvyas10 commented on #410
hey.@rak-shit Ca, you please state the proper description of your project

[2020-04-09 16:52] rak-shit commented on #410
Done.

[2020-04-09 17:01] rak-shit opened #412 "Changing UI for notifications component into Material-UI"
**Description** : Changing UI for notifications component into Material-UI. As of now it is written in basic HTML.

**Additional Context** : Working on it.

[2020-04-09 17:05] DevanshCodes opened #413 "UI for the Account Tab"
Currently the UI of the account tab looks like:
![image](https://user-images.githubusercontent.com/48180687/78921313-5b22dc00-7ab2-11ea-9a04-fb28ae49b6c8.png)

It should look like:
![image](https://user-images.githubusercontent.com/48180687/78921356-68d86180-7ab2-11ea-9183-63de41a61a93.png)

Hence, addition of more components and styling of existing components is required.
Working on it!

[2020-04-09 17:15] DevanshCodes opened #414 "UI for the Donuts Tab of Organisation"
How it should look like:
![image](https://user-images.githubusercontent.com/48180687/78922168-b7d2c680-7ab3-11ea-8483-37a12db2cc7b.png)

Working on it!

[2020-04-10 10:36] #414 closed

[2020-04-11 07:55] devesh-verma commented on #403
@harsh253 I need to think through this.

[2020-04-12 07:49] tanujvyas10 opened #418 "Organization updates info is written hard-coded"
**Current Scenario**
Organization updates info is written hard-coded
![image](https://user-images.githubusercontent.com/48439116/79063520-defde380-7cbf-11ea-9f5a-add8151a2c24.png)

**Expected solution**
Create a JSON-data file that carries the JSON-formatted data  and export the data into Organization updates section

**WORKING ON IT**

[2020-04-12 08:07] tanujvyas10 commented on #413
@DevanshCodes hey are you still working on this issue?

[2020-04-12 08:08] tanujvyas10 commented on #412
@rak-shit hey are you still working on this?

[2020-04-12 08:09] tanujvyas10 commented on #402
@AuraOfDivinity are you still working on this?

[2020-04-12 08:10] DevanshCodes commented on #413
Yeah I'm working on it.

[2020-04-12 08:11] tanujvyas10 commented on #413
cool if you need any help
just let me know happy coding

[2020-04-12 08:25] AuraOfDivinity commented on #402
@tanujvyas10  Yes

[2020-04-12 08:34] rak-shit commented on #412
Yes @tanujvyas10

[2020-04-12 09:34] tanujvyas10 commented on #412
nice good luck
if need any help just let me know

[2020-04-12 09:34] tanujvyas10 commented on #402
nice good luck
if need any help just let me know

[2020-04-12 14:15] rak-shit opened #420 "Info of Portfolio component is hardcoded and Conversion of the component into Material-UI"
**Description**

We need to create a JSON file which will be having the data of portfolio component and also change the UI of the component into material-ui.

**Additional Information**

Working on it

[2020-04-13 12:59] rak-shit opened #430 "UI of the Settings component to Material-UI"
**Description**

As of now the UI of the settings page uses, React-Bootstrap and normal HTML. It must be converted to Material-UI.

**Additional Context**

Working on it.

[2020-04-15 13:05] tanujvyas10 opened #433 "Addition of toggle-draw feature to side-bar of platform"
**Current scenario**
The side nav acquires fixed ratio of space in the screen

**Expected enhancement**
There should be a side-navbar drawing feature using the toggle-button / icon to minimize and maximize the side nav-width(max-width will be equal to the current width of side-nav) according to user's convenience.
Example
[click here](https://www.syncfusion.com/products/react-js2/control/images/si

[2020-04-15 18:04] tanujvyas10 opened #434 "Upgrading the side-navbar to mini-variant side-bar[Regular bootstrap]"
**Current scenario**
The side nav acquires fixed ratio of space in the screen

**Expected enhancement**
There should be a mini variant side-navbar to minimize and maximize the side nav-width(max-width will be equal to the current width of side-nav) according to the user's convenience.
Example
![kNzWc](https://user-images.githubusercontent.com/48439116/79343247-d0c3f780-7f4b-11ea-9565-3c3a95451ed4.

[2020-04-16 21:01] Rupeshiya opened #437 "Implement the protected route functionality in client side"
**Present scenario:**
As of now, there is no protected route, so the unregistered user can also access all the components by simply navigating to the route

**Expected outcome**
Only the registered users will be able to access the restricted components.

**UI changes**
No UI changes required

**Additional context:**
**Working on it**

[2020-04-16 22:11] tanujvyas10 commented on #437
@Rupeshiya hey, i know protected route is needed but should we add this feature later in development session because you this in the upcoming development time , the contributors will have to do many testing while working on any issue , so repeating login and token expiring is kind of annoying some time .
Its my suggestion ,we shall add the protected routes later

[2020-04-17 01:55] Rupeshiya commented on #437
@tanujvyas10 I know that.
But as we are maintaining state so no need to do any verification as of now, I will set that to default true now, so there will not be an issue in testing.

[2020-04-17 15:44] harsh253 commented on #403
All right @devesh-verma . Just let us know your view on this once you get time

[2020-04-18 10:43] tanujvyas10 opened #439 "Upgrading the UI of login form to material-UI"
**Current scenario**
Currently, the frontend of the login form is in bootstrap

**Expected solution**
The frontend of the login form should be in Material-UI

**Working on it**

[2020-04-18 11:45] #430 closed

[2020-04-18 11:45] #420 closed

[2020-04-18 11:45] #412 closed

[2020-04-18 11:46] #410 closed

[2020-04-18 11:46] #405 closed

[2020-04-18 13:09] Rupeshiya opened #441 "Integrate forgot password functionality with backend"
**Present scenario:**
Only the UI for forgot password is there as of now.

**Expected scenario:**
After the integration of forgot password functionality to the backend, it should be fully functional., i.e user will be able to change their password

**Additional context**
**Working on it**

[2020-04-19 06:36] tanujvyas10 opened #443 "Implement the complete UI for the events domain and integration with backend"
**Current Scenario**
There is no UI for the events domain

**Expected Solution**
Create the UI for the creation, display, update, and deletion in entire **events-domain** and integrate it with the backend
P.s. Already created a PR for the [event backend ](https://github.com/codeuino/social-platform-donut-backend/pull/113) and frontend will get integrated with backend after the backend integration

[2020-04-19 17:54] rak-shit opened #445 "Fixing the broken parts of the UI"
**The Signup Page leaves space below the form**

![Screenshot 2020-04-19 at 6 26 39 PM](https://user-images.githubusercontent.com/30564496/79695486-c039b700-8294-11ea-83b2-5d1ae39045b2.png)

**The Navbar is not fixed when the page is scrolled**

![Screenshot 2020-04-19 at 6 45 38 PM](https://user-images.githubusercontent.com/30564496/79695490-c334a780-8294-11ea-9a19-99904ed4cb0a.png)

**Additional

[2020-04-20 06:59] DevanshCodes opened #446 "Placeholder Animations when fetching Data for Components"
When the data is being fetched from the backend for the components, we'll display the placeholder animation for loading (much like what YouTube does or Facebook does).

Example implementation GIF for the Pinned Posts:
![Placeholder Animation](https://user-images.githubusercontent.com/48180687/79722749-3e807280-8302-11ea-972c-2100e1997c46.gif)

Working on it, I'll be using react-content-loader (htt

[2020-04-20 07:07] DevanshCodes opened #447 "UI and Animation for Maintenance Page"
This will include the addition of maintenance page which will contain the animation implemented using LottieFiles. User will be redirected to this page when the Donut platform is put under maintenance by the Admin.

[2020-04-22 04:28] #447 closed

[2020-04-22 04:32] #413 closed

[2020-04-22 04:33] #386 closed

[2020-04-22 08:31] #445 closed

[2020-04-22 09:19] DevanshCodes opened #451 "Replacing 404 Error animation with Lottie Animation"
This will replace the PNG animation which is currently in place in the 404 page by LottieFiles using SVG rather than PNG which will improve performance and reduce loading.

![image](https://user-images.githubusercontent.com/48180687/79964532-7aedd300-84a8-11ea-8c0e-5478270d1eb6.png)

[2020-04-23 09:25] theprover97 opened #453 "Addition of 'View Project' popup to Posts"
The Projects in the Posts carry a 'View Project' button, which is currently inactive.
Aim : To add a Project Popup giving main information on the project.

[2020-04-23 09:25] theprover97 commented on #453
I will be working on this.

[2020-04-23 15:21] #451 closed

[2020-04-26 12:44] #446 closed

[2020-04-26 12:44] DevanshCodes commented on #446
PR Merged.

[2020-05-01 14:32] #434 closed

[2020-05-01 19:51] Rupeshiya opened #458 "Home page alignment is misaligned on development branch"
**Present scenario**
Check on bottom of deployed version of development branch: https://deploy-preview-457--donut-frontend-r.netlify.app/

Check locally:
![broken](https://user-images.githubusercontent.com/31209617/80836904-5c5baa80-8c13-11ea-8cdc-e3f66782c0da.png)

**Expected result:**
Should be aligned as per design. (as before)

[2020-05-01 20:10] Rupeshiya opened #459 "During page loading of lottie animation the sidebar breaks into multiple rows"
**Present scenario:**
During page loading of Lottie animation, the sidebar breaks into multiple rows
Check-in dashboard: https://deploy-preview-454--donut-frontend-r.netlify.app/dashboard

**Expected result:**
The Lottie animation should not break the sidebar into multiple rows.

[2020-05-02 05:32] Rupeshiya opened #460 "Add frontend validations in the forms"
**Present scenario:**
There is no validation in the client side to indicate what's going wrong

**Expected result:**
Add frontend validations in the forms, to indicate the errors.

**Additional context:**
Working on it.

[2020-05-03 03:47] tanujvyas10 opened #462 "In Dashboard, news feeds are not aligned properly"
**Current status**
The news -feeds are not aligned properly and comment-popup is also not enabled when click on
 comment option

![image](https://user-images.githubusercontent.com/48439116/80898243-d75db780-8d1e-11ea-875b-608853d87503.png)

**Expected solution**
Proper aligning of news-feed is needed and comment-popup should be enable

**Working on it**

[2020-05-04 21:01] Rupeshiya opened #464 "Align the present client side design implementation to the actual design"
**Present scenario:**
As of now the client-side UI for most of the parts is aligned with the actual UI designed.

**Expected outcome:**
 Client-side UI should be aligned with the actual UI design.

[2020-05-07 06:20] AuraOfDivinity opened #465 "Inconsistencies in the donut front end."
**Present Scenario**

The donut frontend consists of multiple inconsistencies as noted in the following [document](https://docs.google.com/document/d/1yzfLn1_5bLmH-XLnCIYK5B_IUQd6ZhDIvM40ewasTTA/edit?usp=sharing)

**Expected result**
Make sure the frontend is similar to the designs requested.

[2020-05-09 16:05] vaibhavdaren opened #467 "Media queries Dashboard"
Current design does not work with popular screen sizes.
According to market fragmentation .
[1] https://www.hobo-web.co.uk/best-screen-size/

[2020-05-15 16:37] AuraOfDivinity opened #473 "Proposal functionality inside Donut - Frontend."
When a developer or a certain user wants to suggest/propose an idea to an open-source
organization it mostly ends up being communicated through IRC messages or other
informal ways. In most cases their suggestions/proposals go unanswered or ignored
among hundreds of messages in the IRC resulting in the original user getting frustrated.

The issue here is that there is no clear cut procedure/pathway

[2020-05-15 17:39] Rupeshiya opened #475 "Implement client side of the community settings dashboard for admin, insight page, setup page for admin"
**Present scenario:**
As of now, there is no client-side implementation to have control over the community resources.

**Expected scenario:**
There should be the client-side to control the community resources by admins or moderators.

**Additional context:**
**Working on it**

[2020-05-23 03:30] AuraOfDivinity opened #478 "Fix responsiveness related issues on the left hand nav bar."
**Issue**
The current navbar on the left-hand side of the project is not responsive and breaks when the project is resized.

**Expected Outcome**
 This should not be the case and should be fixed so that the navbar is changed appropriately in different views.

[2020-05-25 12:32] Rupeshiya opened #480 "Implement login, register flow figma design"
1. Add register page for admin
2. Add login page for admin
3. Show setup message
4. Show email verification message

Figma design: https://www.figma.com/file/iZvb7rLYRp3Di3wILVQ7V9/CodeUino-Donut?node-id=1431%3A0

[2020-05-30 15:26] Rupeshiya opened #483 "Add multilingual support to the donut platform"
**Present scenario:**
As of now, there is no multilingual support on the Donut platform, only English is supported.

**Expected scenario:**
Make Donut platform multilingual so that a user can use the platform, in their preferred language.

[2020-06-14 14:46] Rupeshiya opened #485 "Implement notification system for frontend using socket.io and integrate backend for notifications"
**Present scenario:**
As of now, there is no frontend for the notification system, so users of the platform would not be able to get any type of real-time notifications. Like if any event is going to be hosted by the org, or org is kept under maintenance, or user A follows user B, etc. So in all those cases, the user will not be able to get any notifications

**Expected scenario:**
Users of the pl

[2020-06-15 14:41] Rupeshiya opened #486 "Integrate backend with frontend"
**Present scenario:**
As of now, the backend is not integrated with the frontend. So frontend is not functional as expected.

**Expected scenario:**
Backend should be integrated with frontend

**Additional context:**
**Working on it**

[2020-07-01 05:07] PiyushSharma99 opened #491 "Link broken in Readme"
In Readme section, the link given to the word "this" is broken.

"For frontend of this repo move to this repository."

[2020-07-01 20:26] garimasingh128 opened #493 "Broken links in README."
In the README section,
In the community section, following links are broken:
- @Mailing List.
- @Codeuino Wiki..
- Slack link. (It shows This link is no longer active
To join this workspace, you’ll need to ask the person who originally invited you for a new link.)

[2020-07-02 16:56] #328 closed

[2020-07-02 16:56] #331 closed

[2020-07-02 16:56] #334 closed

[2020-07-02 16:56] #335 closed

[2020-07-02 16:56] #337 closed

[2020-07-02 16:56] #338 closed

[2020-07-02 16:56] #339 closed

[2020-07-02 16:56] #345 closed

[2020-07-02 16:56] #349 closed

[2020-07-02 16:56] #352 closed

[2020-07-02 16:56] #353 closed

[2020-07-02 16:56] #356 closed

[2020-07-02 16:56] #357 closed

[2020-07-02 16:56] #362 closed

[2020-07-02 16:56] #367 closed

[2020-07-02 16:56] #371 closed

[2020-07-02 16:56] #373 closed

[2020-07-02 16:56] #375 closed

[2020-07-02 16:56] #383 closed

[2020-07-02 16:56] #388 closed

[2020-07-02 16:56] #389 closed

[2020-07-02 16:56] #392 closed

[2020-07-02 16:56] #396 closed

[2020-07-02 16:56] #399 closed

[2020-07-02 16:56] #402 closed

[2020-07-02 16:56] #86 closed

[2020-07-02 16:56] #88 closed

[2020-07-02 16:56] #89 closed

[2020-07-02 16:56] #90 closed

[2020-07-02 16:56] #91 closed

[2020-07-02 16:56] #108 closed

[2020-07-02 16:56] #149 closed

[2020-07-02 16:56] #153 closed

[2020-07-02 16:56] #155 closed

[2020-07-02 16:56] #157 closed

[2020-07-02 16:56] #161 closed

[2020-07-02 16:56] #162 closed

[2020-07-02 16:56] #222 closed

[2020-07-02 16:56] #235 closed

[2020-07-02 16:56] #241 closed

[2020-07-02 16:56] #244 closed

[2020-07-02 16:56] #249 closed

[2020-07-02 16:56] #276 closed

[2020-07-02 16:56] #290 closed

[2020-07-02 16:56] #316 closed

[2020-07-02 16:56] #317 closed

[2020-07-02 16:56] #320 closed

[2020-07-02 16:56] #321 closed

[2020-07-02 16:56] #323 closed

[2020-07-02 16:56] #327 closed

[2020-07-02 16:58] #13 closed

[2020-07-02 16:58] #15 closed

[2020-07-02 16:58] #16 closed

[2020-07-02 16:58] #17 closed

[2020-07-02 16:58] #20 closed

[2020-07-02 16:58] #21 closed

[2020-07-02 16:58] #22 closed

[2020-07-02 16:58] #27 closed

[2020-07-02 16:58] #32 closed

[2020-07-02 16:58] #33 closed

[2020-07-02 16:58] #38 closed

[2020-07-02 16:58] #41 closed

[2020-07-02 16:58] #43 closed

[2020-07-02 16:58] #45 closed

[2020-07-02 16:58] #48 closed

[2020-07-02 16:58] #50 closed

[2020-07-02 16:58] #52 closed

[2020-07-02 16:58] #61 closed

[2020-07-02 16:58] #75 closed

[2020-07-02 16:58] #78 closed

[2020-07-02 16:58] #79 closed

[2020-07-02 16:58] #81 closed

[2020-07-02 16:58] #83 closed

[2020-07-02 16:58] #84 closed

[2020-07-02 16:58] #85 closed

[2020-07-04 20:58] #491 closed

[2020-07-05 08:20] jaskiratsingh2000 commented on #483
Still in progress?

[2020-07-05 08:22] jaskiratsingh2000 commented on #486
What's the status?

[2020-07-05 08:22] jaskiratsingh2000 commented on #485
What's the status?

[2020-07-05 08:23] jaskiratsingh2000 commented on #480
What's the status? Should I close this?

[2020-07-05 08:23] jaskiratsingh2000 commented on #473
What's the status? Should I close this?

[2020-07-05 08:24] jaskiratsingh2000 commented on #467
What's the status?

[2020-07-05 08:31] #480 closed

[2020-07-05 08:31] Rupeshiya commented on #485
done! Closing!

[2020-07-05 08:31] #485 closed

[2020-07-05 08:32] Rupeshiya commented on #486
It would be in progress until the end as we will be changing modifying the things

[2020-07-05 08:34] #475 closed

[2020-07-05 08:34] #460 closed

[2020-07-05 08:35] #458 closed

[2020-07-05 08:35] #441 closed

[2020-07-05 08:35] #437 closed

[2020-07-05 08:43] jaskiratsingh2000 opened #496 "Improvements inside the configuration screens"
## **Problem to be solved:**

We have many configuration screens inside the donut platform and there are many components inside it that need to be resolved,
Following are the required changes:

- Pop-Ups seems to be stretched
- Donut icon watermark behind the pop up is stretched up.
- The Donut logo on the top-middle is seized. Use the actual Logo and make it fixed.
- The donut icons at the bottom

[2020-07-05 09:31] jaskiratsingh2000 opened #497 "Resolving inconsistencies in UI of LogIn/SignUp"
## **Problem to be solved**

LogIn/ SignUp page is good but contains some inconsistencies issues.
Following are the required changes:

- Titles within the Pop-Ups needs to be in Bold
- The title should have accurate color which is the color of buttons.
- Font Family should be "Inter"
- The buttons should be in rectangle
- All the buttons should be of actual size.
- Please use **Actual Buttons** fo

[2020-07-05 09:42] jaskiratsingh2000 opened #498 "Button inconsistencies inside Donut platform"
## **Problem to be solved**

Buttons inside the Donut platform are not consistent.
Following are the required changes:

- Convert all the buttons from the "Round" shape to "rectangle" shape except tags.
- Color of the buttons should be consistent
- Font of the color should be consistent
- Remove shadows from the buttons wherever it is there.

**Once these issues are resolved then please upload the

[2020-07-05 11:39] jaskiratsingh2000 opened #499 "Enhancing the Dashboard page of the Donut platform"
## **Problem to be solved**

The dashboard page plays a vital role in the donut platform since its UI as well UX has to be good for the user's point of view. So these issues surf around the purpose to improve the Dashboard page by taking the following things into consideration:

- Improve the top row which contains the details of the **Upcoming Event**, **Notification**, and further **Insights** i

[2020-07-05 12:04] jaskiratsingh2000 opened #500 "Buttons enhancement inside the Donut platform"
## **Problem to be solved**

Buttons within the platform do not hold consistency. So the purpose of this issue is to sort out any inconsistencies related to the buttons we have inside the donut platform.

These are the following things that need to be resolved:
- Convert all the buttons from the round shape to the rectangle shape
- Buttons should have the same font family,, across the whole platfo

[2020-07-05 12:05] jaskiratsingh2000 commented on #493
Thanks for opening up the issue

[2020-07-05 12:47] govindgoel commented on #493
I would like to work on this.

[2020-07-05 13:48] jaskiratsingh2000 commented on #493
Sure go ahead

On Sun, 5 Jul 2020, 6:18 pm Govind Goel, <notifications@github.com> wrote:

[2020-07-05 15:01] jaskiratsingh2000 commented on #486
Okay, I am adding this with a label of under process

[2020-07-05 15:19] #493 closed

[2020-07-05 19:32] govindgoel opened #503 "Netlify Build Failing"
This issue is probably due to the new update in netlify as it is treating warning as errors,causing the build to fail.
https://community.netlify.com/t/new-ci-true-build-configuration-treating-warnings-as-errors-because-process-env-ci-true/14434

[2020-07-06 07:31] jaskiratsingh2000 commented on #503
@devesh-verma Can you please check it on systems administrating part?

[2020-07-06 14:45] ksraj123 commented on #483
Hi, Is someone working on this? If not, I would like to do this.

[2020-07-08 11:49] jaskiratsingh2000 opened #507 "Adding Markdown and Preview feature inside "Write Post" within Donut"
## Problem to be solved

Currently, there is a button inside the donut platform on the dashboard page which on clicking redirects to write any post. But the actual sense of having the "Write post" comes with proper markdown and preview option. So the purpose of this I to develop the same mechanism and frontend as we see within the GitHub Issue and implement within the **Write Post**.
It should be

[2020-07-08 11:53] jaskiratsingh2000 commented on #473
@AuraOfDivinity

[2020-07-08 13:28] AuraOfDivinity commented on #473
@jaskiratsingh2000 I wanted to keep this issue as a main issue so that I can tag all the issues /PR's related to the frontend of the project to this main PR. What are your thoughts on this @jaskiratsingh2000 ?

[2020-07-09 08:20] jaskiratsingh2000 opened #508 ""Account Page" inside the donut needs to be revamped in terms of design"
## Problem to be solved

Currently, we have an **Account page** inside the donut platform which looks like this way, so the purpose of this issue is to revamp the design of this page by working on the following page:

- Within this area instead of putting the buttons for Facebook, LinkedIn, Twitter, Github, you should remove them from there and place the "only icons of Facebook, Twitter, Linkedin,

[2020-07-09 08:57] jaskiratsingh2000 opened #509 "Improving the Pop Ups inside Donut Platform"
## Problem to be solved

We have Pop-Ups built within the whole platform but these need to be improved. So through this issue, you are required to do the following things within the pop-ups:

- Make pop equal in size and the actual size can be reduced in some pop-ups pages
- Drop a shadow around the pop-ups
- Within the pop-Ups button should be uniform including Titles, Description, and Inputs

[2020-07-09 09:30] jaskiratsingh2000 opened #510 "Revamping the organisation page"
## Problem to be solved

The organization page needs to be revamped and should be built like the same as explained in this [issue for the user profile](https://github.com/codeuino/social-platform-donut-frontend/issues/508)
The important thing here is that its long description needs to be converted like a Readme in GitHub with proper markdowns.

[2020-07-09 15:57] vaibhavdaren commented on #467
@jaskiratsingh2000 please update, I think the dashboard is done with the proposal page.

[2020-07-09 17:35] Rupeshiya opened #511 "Implement maintenance mode in frontend and integrate to backend"
**Present scenario:**
There is no design to trigger maintenance mode by admin. So add the toggle button to trigger maintenance mode and integrate that to backend implement API for triggering maintenance.

**Expected outcomes:**
The admin of the community should able to trigger the maintenance mode and the web view should change accordingly.

**Additional context:**
Working on it.

[2020-07-09 18:43] jaskiratsingh2000 commented on #511
Thanks for opening up the issue.

[2020-07-10 03:18] kmehant opened #512 "Use nginx for various pruposes with a dedicated configuration"
## Context
We can use Ngnix for various purposes in production for Donut as mentioned below

## Usage
- [ ] Web server (benchmarked to be fastest than many others like Apache) (Inheritently can handle large number of concurrent requests at a time)
- [ ] Caching static content
- [ ] Configure to prevent basic security attacks on the frontend (as mentioned in https://github.com/codeuino/social-platf

[2020-07-10 03:22] kmehant commented on #512
@jaskiratsingh2000 @vaibhavdaren @devesh-verma

What are your thoughts regarding this?

We can do this in parallel to https://github.com/codeuino/social-platform-donut-backend/pull/146

[2020-07-10 23:26] vaibhavdaren commented on #512
Cool  💯

[2020-07-10 23:27] vaibhavdaren opened #514 "Add Missing Readme FAQs section."

[2020-07-11 07:43] Rupeshiya commented on #514
https://docs.codeuino.org/donut-social-networking-platform/installations/pre-requisite

[2020-07-11 07:52] jaskiratsingh2000 commented on #514
@vaibhavdaren Thanks can you check within this documentation that what do you think is missing? https://docs.codeuino.org/donut-social-networking-platform/ and for regarding doc stuff please open up the issue within doc repo

[2020-07-11 07:59] vaibhavdaren commented on #514
Someone asked me, just add it to FAQs✔️

[2020-07-11 11:23] jaskiratsingh2000 commented on #514
Thanks Done!

[2020-07-11 11:27] jaskiratsingh2000 commented on #512
Awesome, definitely

On Sat, Jul 11, 2020 at 4:56 AM Vaibhav D. Aren <notifications@github.com>
wrote:

[2020-07-11 14:16] vaibhavdaren commented on #514
_Do i need to fork the Social-Platform-Donut? I had cloned two different repo : frontend and backend of Donut. And the video you shared includes the installation using single repo. Is that repo now divided into two? Is that so? I can’t find the social-platform-donut repo on GitHub.
Sorry but this is super confusing :pensive:_

[2020-07-11 14:16] vaibhavdaren commented on #514
Please tranfer this to docs too.

[2020-07-13 16:16] nisarg1499 opened #516 "Needed UI fix for jisti box"
### Problem to be solved
Current JITSI integration UI is not proper. Buttons are not alligned and also some text is not aligned in a single line. Also size of buttons are not similar and there is unecessary scroll bar shown in the box.
I am attaching the current UI.
![old-jitsi](https://user-images.githubusercontent.com/32075827/87327771-2495ab00-c552-11ea-809f-f9caad007ac3.png)

[2020-07-13 16:20] vaibhavdaren commented on #516
All the best first issue 🐤

[2020-07-13 16:39] #503 closed

[2020-07-13 16:46] nisarg1499 commented on #516
I have attached the photo of jitsi box of master branch. I am attaching the new photo of development branch which needs changes.
Only the button and text allignment changes are needed. Other things are already fixed.
![jitsi1](https://user-images.githubusercontent.com/32075827/87330554-6163a100-c556-11ea-9dc9-ff14cd85194f.png)

[2020-07-14 12:00] jaskiratsingh2000 opened #519 "Make Activity Timeline for all the users inside Admin view"
## Problem to be solved:

Admin plays an important role for any community inside every platform. So here since we have the mechanism of the admin control where admin has access to all the controls inside the Donut platform but we missed out implementing the "**maintaining the history**" activity for them.
So the purpose of this task is to make the history mechanism within a separate page inside th

[2020-07-18 11:42] Priyanka488 opened #522 "Update README with correct installation steps"
The path to clone the repository in the installation part is `git clone https://github.com/username/Social-Platform-Donut.git`, which instead should be `git clone https://github.com/username/social-platform-donut-frontend.git`

[2020-07-18 16:45] SAchu47 opened #523 "UI fix for Login page"
Browser: Firefox 77.0.1
OS: Ubuntu 18.04.4 LTS
Screen size: 1280 x 800

The multipleDonuts image covering the text doesn't seem correct.

![image](https://user-images.githubusercontent.com/37634737/87857323-88014d80-c943-11ea-9192-8f30864c58de.png)

It looks like it's some CSS problem.

[2020-07-20 00:48] AuraOfDivinity opened #524 "Fix issues in the development branch caused by #501"
The current dev branch is breaking due to the #501 and should be fixed immediately.

[2020-07-21 19:42] #516 closed

[2020-07-22 12:47] AuraOfDivinity opened #528 "User Insights section for proposals"
Users should be able to view insights related to their proposals within the proposal dashboard section.

This should contain,

1) The number of views a particular proposal has,
2) The demography of the viewers,
3) Most viewed proposals.
4) The device the particular proposal is viewed on etc.

[2020-07-22 12:47] #524 closed

[2020-07-26 11:34] devesh-verma opened #532 "Make routes authenticated"
As of now, user can navigate to all the routes even without being authenticated.

[2020-07-28 16:50] kmehant opened #533 "[Testing] Report User on a failed attempt for login action on login page"
## Problem
Presently User is not being reported if the server throws a Bad Request for an invalid login on the login page.

Link: https://deploy-preview-530--codeuino-donut.netlify.app/

## How to Reproduce
Move to https://deploy-preview-530--codeuino-donut.netlify.app/ and try login with some random email and password and you can see the user is not notified.

[2020-07-28 16:54] kmehant opened #534 "[Testing] Forgot password anchor on login page is not responsive after first response"
## Problem
Forgot password anchor on the login page is not responsive after the first response.

## How to Reproduce
Move to https://deploy-preview-530--codeuino-donut.netlify.app/ and click forgot password for the first time, close the modal and then click it again and it does not respond.

[2020-07-28 16:59] kmehant opened #535 "[Testing] Add loading screens for login and logout actions"
## Problem
There is a need to add loading screens for login and logout actions as user is not sure whether his login is made and getting into the dashboard and the same goes for logout action as well.

## How to reproduce
Move to https://deploy-preview-530--codeuino-donut.netlify.app And try login action with a valid email and password and you find that the delay is not abstracted with loading scr

[2020-07-29 16:11] Priyanka488 opened #536 "[testing] - The cursor does not change, when hovering over the delete button for a comment."
### Problem

For deleting a comment, the cursor does not change when hovered over the delete button.

### How to Reproduce?

1. Go to https://deploy-preview-530--codeuino-donut.netlify.app/
2. Click on the comment section of any post.
3. Hover over the delete button, next to a comment.

[2020-07-29 16:19] Priyanka488 opened #537 "[Testing]- Add a comment delete confirmation modal."
### Problem

There is no confirmation modal displayed to the user, after clicking on the delete button.

### How to Reproduce?

1. Go to https://deploy-preview-530--codeuino-donut.netlify.app/
2. Click on the comment section of any post.
3. Click on the delete button of any comment.

[2020-07-30 02:37] Rupeshiya commented on #532
Please close this issue @devesh-verma

[2020-07-30 04:15] #532 closed

[2020-07-30 06:00] jaskiratsingh2000 commented on #536
Thanks for opening this up

[2020-07-30 06:00] jaskiratsingh2000 commented on #537
Thanks for opening this up

[2020-07-30 06:05] jaskiratsingh2000 opened #538 "Login/Signup page should not be scrolling"
Currently, the main page here (https://deploy-preview-530--codeuino-donut.netlify.app/) is scrollable. Hence this page along with the illustrations on the page should be fixed.
The Donut icons at the bottom should be fixed.

[2020-07-30 06:38] jaskiratsingh2000 opened #539 "Dashboard page UI improvements"
## Problem to be solved

There are lot many UI bugs on the Dashboard page and needs to be improved while comparing the Dashboard UI with the Figma designs here ( https://www.figma.com/file/iZvb7rLYRp3Di3wILVQ7V9/CodeUino-Donut?node-id=76%3A301 )
Below are the following things to be improved:
- The font size on the whole page needs to be reduced and should be the same as it is within the Fima desig

[2020-07-30 07:14] jaskiratsingh2000 opened #540 "[Testing] - Creates invite without clicking on Invite option automatically"
## Problem to be solved

When we want to invite any new member to the platform and clicks on the "Member" option available in the top right column we see a pop-up and on clicking the input field multiple times it keeps creating the Invite link without copying the link or clicking the button.

## Testing demonstration

![20200730_124150](https://user-images.githubusercontent.com/10228651/88892399-8

[2020-07-30 07:18] jaskiratsingh2000 opened #541 "Clicking on any user within the Feeds card should open up the profile of that user"
## Problem to be solved

When we click on the name of any user/author within the feeds cards it does not open up the profile of that specific user, So this issue will resolve this thing and help to open up the profile of that user on clicking on it.

[2020-07-30 10:00] jaskiratsingh2000 opened #542 "Improving and Adding some card functionality on the feeds page"
## Problem to be solved

There is a need to add some functionality to the cards and improve its UI in terms of sizing.
We need to add the functionality of "**Like**", "**Happy**", "**Favourite**", "**Donut**(meaning bookmark)" and clicking on respective icons it should do the following things:
- Like: Should like that particular post written by the author
- Happy: This will let the user know to gi

[2020-07-30 10:09] jaskiratsingh2000 opened #543 "[Testing] - Social Handles buttons are not working on any page"
There are Social Handles buttons: **Facebook**, **Twitter**, **LinkedIn**, and **Github** across many pages within the platform and none of those buttons are working.

[2020-07-31 16:55] jaskiratsingh2000 opened #544 "Moving Pinned Post page from the navbar-1 to navbar-2"
Currently, we have our Pinned Post page listed within the navbar-1 but we want to move it to the tabs like structure within the navbar-2

[2020-08-02 09:05] AuraOfDivinity opened #546 "[Testing] - Proposal functionality related Bugs/Issues"
The following issues were identified when testing the proposal functionality,

1. Proposal dashboard page crashes at random times due to an issue in the notifications state.
![image](https://user-images.githubusercontent.com/31003923/89119553-eb0aec80-d4cc-11ea-87db-7527c699c55d.png)

2. Continous loading indicator at initial save of the proposal
![image](https://user-images.githubusercontent.com/

[2020-08-02 09:50] Rupeshiya commented on #540
Working on it.

[2020-08-02 10:37] ayushnagar123 opened #547 "Delete event popup don't close even after event is deleted"
### Demo video
[Reference issue demo](https://drive.google.com/file/d/1IszcyFoJ8cHrOo5tSFC1e-YX47juBADj/view?usp=sharing)
### Solution
Once he issue is deleted and status code of successful deletion is recieved, the modal box must close automatically.

[2020-08-02 10:37] ayushnagar123 opened #548 "Cards of event page dates overlaps the edges"
### Demo Screenshot
for some screen sizes as discussed above of 768px width.
- [ ] Screen size=>1440x1024
![image](https://user-images.githubusercontent.com/32647423/89121012-c9affd80-d4d8-11ea-937c-8b8a86e7ef5c.png)
- [ ] Screen size=> 1152x700
![image](https://user-images.githubusercontent.com/32647423/89121090-7c805b80-d4d9-11ea-9583-ad99d43f98f5.png)
- [X] Screen Size => 1080 x 720
![image](ht

[2020-08-02 10:49] ayushnagar123 opened #549 "Navbar issues needed to be fixed"
### screenshot demo
![image](https://user-images.githubusercontent.com/32647423/89121268-18f72d80-d4db-11ea-9052-053e1a0d80e0.png)
### Fix needed
* Donut icon not centraqlly aligned in icon section.
* logout tab not alligned with other tabs
* only logout tb is fixed in sidenavbar rest of the navbar is not fiex which looks too odd. Either fix the whole navbar or non of the tabs shall be fixed.
![im

[2020-08-02 10:53] ayushnagar123 opened #550 "Improper date formating needs to be fixed"
### Screenshot demo
![image](https://user-images.githubusercontent.com/32647423/89121360-daae3e00-d4db-11ea-83a1-028938984b32.png)
![image](https://user-images.githubusercontent.com/32647423/89121387-2b259b80-d4dc-11ea-90cf-26faccf2e4db.png)
![image](https://user-images.githubusercontent.com/32647423/89121399-4e504b00-d4dc-11ea-931f-21563353ebbd.png)
### Solution
Dates of default format needs to b

[2020-08-02 11:05] ayushnagar123 opened #551 "Fix needed in member modal box"
### Screenshot Demo
![image](https://user-images.githubusercontent.com/32647423/89121592-beab9c00-d4dd-11ea-90f6-45fd92d4867f.png)
### Fix needed
* Search box placeholder looks odd.
* Shareable URL field empty

[2020-08-02 11:13] ayushnagar123 opened #552 "Non responsive model box for member section of organization"
### Test url
https://deploy-preview-530--codeuino-donut.netlify.app/
### demo Screenshot
- [ ] Screen size => 1440xx900
![image](https://user-images.githubusercontent.com/32647423/89121713-e7806100-d4de-11ea-8e22-d09cb53029c9.png)
- [ ] Screen size => 768 x 1024
![image](https://user-images.githubusercontent.com/32647423/89121738-20b8d100-d4df-11ea-8dc7-e24f442c6a53.png)

[2020-08-02 19:37] Rupeshiya commented on #550
Working on it

[2020-08-03 06:34] Rupeshiya commented on #541
Working on it

[2020-08-03 16:25] Rupeshiya opened #557 "Fix inconsistent issues in UI"
The changes required can be found in this thread.
**Expected:**
Please have a look: https://codeuino.slack.com/archives/CAZ1KR0HM/p1596471692090800?thread_ts=1596471398.088500&cid=CAZ1KR0HM

**After changes:**
Add screenshots.

[2020-08-05 16:11] Rupeshiya commented on #533
Working on it

[2020-08-06 18:54] Rupeshiya commented on #549
ref: #539

[2020-08-06 18:55] #536 closed

[2020-08-06 18:55] #543 closed

[2020-08-06 19:07] #540 closed

[2020-08-07 04:18] #550 closed

[2020-08-07 04:19] #534 closed

[2020-08-07 04:19] #535 closed

[2020-08-07 04:19] #523 closed

[2020-08-07 04:20] #533 closed

[2020-08-08 17:36] divanshurox commented on #549
I am new to open source can I work on this??

[2020-08-09 04:41] AuraOfDivinity opened #563 "Integrations Page"
**Issue**
A separate UI is required for the integrations page as mentioned in the designs at https://www.figma.com/file/iZvb7rLYRp3Di3wILVQ7V9/CodeUino-Donut?node-id=2481%3A0

**Additional Context**
I will be working on this.

[2020-08-09 13:59] ksraj123 opened #565 "UI Issue - Clicking on items in navigation"
**Issue -**

![UI issue clicking on sections sections](https://user-images.githubusercontent.com/39027928/89733891-3a758d80-da76-11ea-976e-a586cb735d80.gif)

- Pointer changes to cursor while hovering over any item in the navigation but clicking only of text works.

**Expected / Ideal Behaviour**

- Clicking anywhere on the item should work.

[2020-08-10 09:33] #565 closed

[2020-08-12 00:45] AuraOfDivinity opened #567 "Implement Edit, Share and Delete Post functionalities."
**Feature Request**
The edit, share, and delete post functionalities made available through the backend must be implemented on the frontend.

**Additional Context**
I will be working on this.

[2020-08-12 15:05] AuraOfDivinity opened #570 "Inconsistencies in the main navigation panel"
The main left-hand side navigation panel is seemingly different from what's requested from the designs at https://www.figma.com/file/iZvb7rLYRp3Di3wILVQ7V9/CodeUino-Donut?node-id=2827%3A5663 . Changes should be made to make it look more consistent with the designs.

[2020-08-17 18:02] tushar912 opened #577 "Sign Up page doesn't Redirect"
![donut2](https://user-images.githubusercontent.com/59223034/90428278-5e257d00-e0e1-11ea-9c9b-999e2ecba486.gif)

As of know in Sign Up.The page doesn't redirect or show any confirmation . How about it redirect to login page on sign up or show any Confirmation about success or failure.

[2020-08-19 16:40] tushar912 opened #579 "Unnecessary pages in events"
![bug](https://user-images.githubusercontent.com/59223034/90664216-4d534380-e268-11ea-86f5-1a78dd2017a6.gif)
Even though only the first page has content 10 pages are available same issue in other pages.

[2020-08-19 16:52] Rupeshiya commented on #579
These are not pages @tushar912 Please check the pagination code.

[2020-08-19 16:53] #579 closed

[2020-08-19 16:55] tushar912 commented on #579
oh sorry my mistake

[2020-08-23 12:16] tripathyprateek opened #582 "Fix README.md Installation step"
In the installation step, it is written `git clone https://github.com/username/Social-Platform-Donut.git` instead of `git clone https://github.com/username/Social-Platform-Donut-frontend.git`

[2020-08-23 16:25] #582 closed, assigned to nobody

[2020-08-24 10:34] ksraj123 opened #585 "Support Tickets Feature"
- **UI Expectations**
  - Phase 1
    - A Searchbar where a ticket could be searched using the title name. This would be below the top heading.
  - Phase 2
  - Future Possibilities / Wishlist

- **Functionality Expectations**
Functionality is mostly similar to GitHub PRs and Issues and these could be looked at for inspiration.
  - Phase 1
    - The end-user should be able to open a ticket.
    - T

[2020-08-24 10:37] ksraj123 commented on #585
@jaskiratsingh2000 Please provide detailed expectations/specifications for the UI part. Also please add to it if I left something out. Thanks.

[2020-08-24 17:54] vaibhavdaren opened #586 "Readme Update:-"
Update readme to new. Add a link to gitbook.
Add min requirements and steps.

[2020-08-31 10:49] mishrasushruti99 commented on #552
Can I work on this?

[2020-09-04 17:58] jaskiratsingh2000 opened #589 "gherhgjh"
hbuibuihpfbuih

[2020-09-04 17:59] #589 closed

[2020-09-04 18:13] tushar912 opened #590 "See more covers delete Event"
The see more button of Event Card covers the delete button when only a single event is left.
![Firefox_Screenshot_2020-09-04T18-11-56 266Z](https://user-images.githubusercontent.com/59223034/92273078-5b5fc000-ef08-11ea-9370-326ca370a77c.png)

[2020-09-04 18:37] #590 closed

[2020-09-05 06:19] codetheorem opened #591 "Add stronger password validations."
We can use stronger password validation by using a better password pattern. currently, it only requires a minimum of 6 characters but it is insecure. We should have a minimum one uppercase letter and a special character in our password. The password should be an alphanumeric string.

[2020-09-05 12:13] pranshukharkwal opened #596 "[Bug Report] Buttons to share invite link on social media are not clickable"
How to replicate?
1) Login as a user
2) In the dashboard, click on members
3) Generate a shareable link
4) Try clicking on the share buttons
![share-links-bug](https://user-images.githubusercontent.com/21126219/92304833-4da94980-ef9f-11ea-8b69-fd2a53bedb87.png)

[2020-09-06 12:39] Kodecheff commented on #577
I was able to add a signup confirmation message #578 . Created a pull request
![Screenshot from 2020-09-06 12-57-40](https://user-images.githubusercontent.com/48069624/92325933-4721dd00-f046-11ea-9604-ec30c8713709.png)

[2020-09-06 18:02] codetheorem opened #599 "[Bug Report] Deactivate section not showing correct button"
![screencapture-localhost-3000-settings-1599414947725](https://user-images.githubusercontent.com/54779517/92332079-a6a8d880-f098-11ea-975d-8613562b5758.png)

My account is activated but it is showing Activate rather it should show Deactivate.

check this
https://github.com/codeuino/social-platform-donut-frontend/blob/77d028647a60d358f87dfd02e01d64b72cd67f5b/src/user/dashboard/settings/SettingConte

[2020-09-06 18:12] codetheorem commented on #599
I think this is because of the model of the user we are using in our backend.
https://github.com/codeuino/social-platform-donut-backend/blob/43ee99b3b547c0bea9a398458cb082b548fea41a/app/models/User.js#L208

[2020-09-06 18:15] codetheorem opened #600 "Use date and time picker In event form."
We can use material-ui Date and Time picker in our event form.

![screencapture-localhost-3000-dashboard-1599416091021](https://user-images.githubusercontent.com/54779517/92332352-fdafad00-f09a-11ea-81c3-391c8ff58143.png)

It would be more convenient for the user.